# Práctica Final Módulo 4 - SQL

### Responder, utilizando consultas sql, las preguntas que se te hacen a continuación sobre datos de clientes y transacciones del sector bancario (datos sintéticos). EL primer paso es generar el 'schema' , las tablas y la inserción de los datos sinténticos. En la siguiente celda encontrarás los pasos para crear la base de datos. El código sql está comentado con **/\*** _código sql_  **\*/** , de modo que , <u>_antes de ejecutar las celdas_</u>, debes **"descomentar"** (borrar **'/\*'** y **'\*/'**) las consultas. Es posible que algunas consultas te arrojen tablas vacias.

- **Crear esquema**

In [3]:

CREATE SCHEMA bank;

- **Crear tabla Clientes**

In [4]:

CREATE TABLE bank.Clientes (
    ClienteID INT PRIMARY KEY,
    Nombre VARCHAR(50),
    Apellido VARCHAR(50),
    FechaNacimiento DATE,
    Genero CHAR(1),
    Direccion VARCHAR(100),
    Ciudad VARCHAR(50),
    CodigoPostal VARCHAR(10)
);

- **Crear tabla Cuentas**

In [7]:
CREATE TABLE bank.Cuentas (
    CuentaID INT PRIMARY KEY,
    ClienteID INT,
    TipoCuenta VARCHAR(20),
    FechaApertura DATE,
    Saldo DECIMAL(12,2),
    FOREIGN KEY (ClienteID) REFERENCES bank.Clientes(ClienteID)
);

- **Crear tabla Transacciones**

In [8]:

CREATE TABLE bank.Transacciones (
    TransaccionID INT PRIMARY KEY,
    CuentaID INT,
    Fecha DATE,
    Tipo VARCHAR(20),
    Monto DECIMAL(12,2),
    Descripcion VARCHAR(100),
    FOREIGN KEY (CuentaID) REFERENCES bank.Cuentas(CuentaID)
);

- **Insertar los datos en la tabla Clientes**

In [9]:

INSERT INTO bank.Clientes (ClienteID, Nombre, Apellido, FechaNacimiento, Genero, Direccion, Ciudad, CodigoPostal)
VALUES
    (1, 'Juan', 'Pérez', '1985-03-15', 'M', 'Calle Falsa 123', 'Madrid', '28001'),
    (2, 'María', 'García', '1992-11-22', 'F', 'Avenida Siempreviva 456', 'Barcelona', '08001'),
    (3, 'Pedro', 'Rodríguez', '1978-07-02', 'M', 'Paseo del Parque 789', 'Sevilla', '41001'),
    (4, 'Ana', 'Martínez', '1990-04-18', 'F', 'Calle Mayor 321', 'Valencia', '46001'),
    (5, 'Carlos', 'Sánchez', '1982-09-30', 'M', 'Plaza del Ayuntamiento 159', 'Bilbao', '48001'),
    (6, 'Laura', 'Fernández', '1995-12-08', 'F', 'Rambla de las Flores 753', 'Málaga', '29001'),
    (7, 'Javier', 'Gómez', '1988-06-20', 'M', 'Paseo Marítimo 246', 'Alicante', '03001'),
    (8, 'Sofía', 'Torres', '1975-02-10', 'F', 'Avenida del Mar 852', 'Palma de Mallorca', '07001'),
    (9, 'Sergio', 'Navarro', '1983-11-05', 'M', 'Calle Real 753', 'Zaragoza', '50001'),
    (10, 'Isabel', 'Ramírez', '1991-08-28', 'F', 'Paseo de Gracia 159', 'Barcelona', '08007'),
    (11, 'Andrés', 'Herrera', '1979-05-12', 'M', 'Calle del Prado 456', 'Madrid', '28002'),
    (12, 'Marta', 'Jiménez', '1987-09-28', 'F', 'Avenida del Puerto 789', 'Valencia', '46002'),
    (13, 'Luis', 'Moreno', '1981-03-05', 'M', 'Plaza Mayor 123', 'Sevilla', '41002'),
    (14, 'Carla', 'Ruiz', '1993-11-18', 'F', 'Paseo de la Castellana 456', 'Madrid', '28003'),
    (15, 'Diego', 'Álvarez', '1977-07-22', 'M', 'Calle Larga 789', 'Málaga', '29002'),
    (16, 'Alicia', 'Gutiérrez', '1989-02-03', 'F', 'Rambla de Santa Mónica 123', 'Barcelona', '08004'),
    (17, 'Raúl', 'Vázquez', '1984-10-15', 'M', 'Avenida del Mar 456', 'Alicante', '03002'),
    (18, 'Lucía', 'Romero', '1991-06-27', 'F', 'Calle San Fermín 789', 'Pamplona', '31001'),
    (19, 'Óscar', 'Ramos', '1986-04-09', 'M', 'Plaza del Pilar 123', 'Zaragoza', '50002'),
    (20, 'Elena', 'Santos', '1994-12-31', 'F', 'Paseo de la Ribera 456', 'Bilbao', '48002'),
    (21, 'Alejandro', 'Flores', '1980-08-17', 'M', 'Calle de la Montera 789', 'Madrid', '28004'),
    (22, 'Cristina', 'Molina', '1988-03-10', 'F', 'Avenida de la Palmera 123', 'Sevilla', '41003'),
    (23, 'Mario', 'Castillo', '1982-11-25', 'M', 'Paseo Marítimo 456', 'Barcelona', '08005'),
    (24, 'Daniela', 'Cabrera', '1996-07-08', 'F', 'Calle de la Reina 789', 'Valencia', '46003'),
    (25, 'Pablo', 'Ortega', '1979-02-20', 'M', 'Plaza de las Flores 123', 'Zaragoza', '50003'),
    (26, 'Silvia', 'Vargas', '1985-09-03', 'F', 'Avenida de la Constitución 456', 'Sevilla', '41004'),
    (27, 'Roberto', 'Sáez', '1991-05-16', 'M', 'Calle Mayor 789', 'Madrid', '28005'),
    (28, 'Carolina', 'Pardo', '1993-01-29', 'F', 'Rambla de Cataluña 123', 'Barcelona', '08006'),
    (29, 'David', 'Rojas', '1987-10-11', 'M', 'Paseo Marítimo 456', 'Alicante', '03003'),
    (30, 'Claudia', 'Suárez', '1995-06-24', 'F', 'Plaza del Ayuntamiento 789', 'Valencia', '46004'),
    (31, 'Francisco', 'Ríos', '1983-12-07', 'M', 'Calle de la Paz 123', 'Málaga', '29003'),
    (32, 'Adriana', 'Guerrero', '1990-04-30', 'F', 'Avenida del Paralelo 456', 'Barcelona', '08007'),
    (33, 'Ernesto', 'Montes', '1978-08-13', 'M', 'Calle Larios 789', 'Málaga', '29004'),
    (34, 'Valeria', 'Espinosa', '1997-03-06', 'F', 'Paseo de la Castellana 123', 'Madrid', '28006'),
    (35, 'Gustavo', 'Hidalgo', '1984-11-19', 'M', 'Rambla del Prat 456', 'Barcelona', '08008'),
    (36, 'Natalia', 'Aguilar', '1992-07-02', 'F', 'Calle San Fernando 789', 'Sevilla', '41005'),
    (37, 'Rodrigo', 'Serrano', '1980-05-25', 'M', 'Plaza de la Virgen 123', 'Valencia', '46005'),
    (38, 'Gabriela', 'Arias', '1988-02-08', 'F', 'Avenida de la Ilustración 456', 'Zaragoza', '50004'),
    (39, 'Mateo', 'Córdoba', '1986-09-21', 'M', 'Calle de las Huertas 789', 'Madrid', '28007'),
    (40, 'Camila', 'Acosta', '1994-01-14', 'F', 'Paseo de Gracia 123', 'Barcelona', '08009'),
    (41, 'Nicolás', 'Ledesma', '1981-06-27', 'M', 'Calle Larga 456', 'Sevilla', '41006'),
    (42, 'Mariana', 'Pizarro', '1989-12-10', 'F', 'Plaza de la Reina 789', 'Valencia', '46006'),
    (43, 'Leonardo', 'Escobar', '1983-04-03', 'M', 'Rambla de Cataluña 123', 'Barcelona', '08010'),
    (44, 'Valentina', 'Piña', '1996-10-26', 'F', 'Calle Mayor 456', 'Madrid', '28008'),
    (45, 'Damián', 'Arce', '1977-07-09', 'M', 'Paseo Marítimo 789', 'Málaga', '29005'),
    (46, 'Rebeca', 'Cisneros', '1991-03-22', 'F', 'Avenida del Puerto 123', 'Alicante', '03004'),
    (47, 'Samuel', 'Villalobos', '1985-11-05', 'M', 'Calle Colón 456', 'Sevilla', '41007'),
    (48, 'Renata', 'Segovia', '1993-08-18', 'F', 'Plaza del Pilar 789', 'Zaragoza', '50005'),
    (49, 'Emiliano', 'Salcedo', '1980-02-01', 'M', 'Rambla del Prat 123', 'Barcelona', '08011'),
    (50, 'Isabella', 'Quintero', '1997-06-14', 'F', 'Calle de los Olivos 23', 'Madrid', '28019'),
    (51, 'Tomás', 'Castañeda', '1982-09-27', 'M', 'Calle Bravo Murillo 456', 'Madrid', '28009'),
    (52, 'Sofía', 'Uribe', '1990-05-10', 'F', 'Paseo de la Castellana 789', 'Madrid', '28010'),
    (53, 'Martín', 'Salinas', '1986-12-03', 'M', 'Avenida Diagonal 123', 'Barcelona', '08012'),
    (54, 'Antonella', 'Rincón', '1995-04-16', 'F', 'Calle Larios 456', 'Málaga', '29006'),
    (55, 'Santiago', 'Estrada', '1979-11-29', 'M', 'Plaza de la Reina 789', 'Valencia', '46007'),
    (56, 'Catalina', 'Solano', '1988-07-12', 'F', 'Rambla del Prat 123', 'Barcelona', '08013'),
    (57, 'Benjamín', 'Carvajal', '1984-03-25', 'M', 'Paseo Marítimo 456', 'Alicante', '03005'),
    (58, 'Constanza', 'Avendaño', '1992-10-08', 'F', 'Calle San Fernando 789', 'Sevilla', '41008'),
    (59, 'Joaquín', 'Cáceres', '1981-06-21', 'M', 'Plaza del Pilar 123', 'Zaragoza', '50006'),
    (60, 'Isadora', 'Echevarría', '1996-01-04', 'F', 'Avenida de la Palmera 456', 'Sevilla', '41009'),
    (61, 'Lucas', 'Pizarro', '1979-08-17', 'M', 'Calle de la Montera 789', 'Madrid', '28011'),
    (62, 'Antonia', 'Zúñiga', '1987-03-30', 'F', 'Paseo de Gracia 123', 'Barcelona', '08014'),
    (63, 'Matías', 'Márquez', '1983-11-13', 'M', 'Rambla de Cataluña 456', 'Barcelona', '08015'),
    (64, 'Rafaela', 'Acuña', '1991-07-26', 'F', 'Calle Mayor 789', 'Madrid', '28012'),
    (65, 'Maximiliano', 'Yáñez', '1985-02-09', 'M', 'Plaza de las Flores 123', 'Zaragoza', '50007'),
    (66, 'Julieta', 'Baeza', '1994-09-22', 'F', 'Avenida del Paralelo 456', 'Barcelona', '08016'),
    (67, 'Ezequiel', 'Montero', '1980-05-05', 'M', 'Calle Larios 789', 'Málaga', '29007'),
    (68, 'Florencia', 'Quintana', '1988-12-18', 'F', 'Paseo de la Castellana 123', 'Madrid', '28013'),
    (69, 'Thiago', 'Olivares', '1986-08-01', 'M', 'Rambla del Prat 456', 'Barcelona', '08017'),
    (70, 'Bianca', 'Rendón', '1993-04-14', 'F', 'Calle San Fernando 789', 'Sevilla', '41010'),
    (71, 'Cristóbal', 'Palacios', '1979-10-27', 'M', 'Plaza de la Virgen 123', 'Valencia', '46008'),
    (72, 'Amanda', 'Parra', '1991-06-09', 'F', 'Avenida de la Ilustración 456', 'Zaragoza', '50008'),
    (73, 'Emilio', 'Crespo', '1984-01-22', 'M', 'Calle de las Huertas 789', 'Madrid', '28014'),
    (74, 'Ariana', 'Henríquez', '1996-09-05', 'F', 'Paseo de Gracia 123', 'Barcelona', '08018'),
    (75, 'Salvador', 'Morales', '1982-05-18', 'M', 'Calle Larga 456', 'Sevilla', '41011'),
    (76, 'Fernanda', 'Tapia', '1989-11-01', 'F', 'Plaza de la Reina 789', 'Valencia', '46009'),
    (77, 'Emmanuel', 'Concha', '1987-07-14', 'M', 'Rambla de Cataluña 123', 'Barcelona', '08019'),
    (78, 'Dulce', 'Quintero', '1995-02-27', 'F', 'Calle Mayor 456', 'Madrid', '28015'),
    (79, 'Lisandro', 'Peralta', '1981-09-10', 'M', 'Paseo Marítimo 789', 'Málaga', '29008'),
    (80, 'Luana', 'Santamaría', '1993-06-23', 'F', 'Avenida del Puerto 123', 'Alicante', '03006'),
    (81, 'Máximo', 'Saldivar', '1986-12-06', 'M', 'Calle Colón 456', 'Sevilla', '41012'),
    (82, 'Violeta', 'Ugarte', '1990-04-19', 'F', 'Plaza del Pilar 789', 'Zaragoza', '50009'),
    (83, 'Ignacio', 'Solís', '1978-11-02', 'M', 'Rambla del Prat 123', 'Barcelona', '08020'),
    (84, 'Avril', 'Olmedo', '1997-07-15', 'F', 'Calle Bravo Murillo 456', 'Madrid', '28016'),
    (85, 'Leonel', 'Urrutia', '1984-03-28', 'M', 'Paseo de la Castellana 789', 'Madrid', '28017'),
    (86, 'Paloma', 'Espinoza', '1992-10-11', 'F', 'Avenida Diagonal 123', 'Barcelona', '08021'),
    (87, 'Fabrizio', 'Mora', '1980-06-24', 'M', 'Calle Larios 456', 'Málaga', '29009'),
    (88, 'Maite', 'Heredia', '1988-02-07', 'F', 'Plaza de la Reina 789', 'Valencia', '46010'),
    (89, 'Gael', 'Bernal', '1986-09-20', 'M', 'Rambla del Prat 123', 'Barcelona', '08022'),
    (90, 'Amelia', 'Polo', '1985-08-19', 'F', 'Calle de los Pintores 12', 'Málaga', '28025'),
    (91, 'Amelia', 'Peña', '1994-05-03', 'F', 'Paseo Marítimo 456', 'Alicante', '03007'),
    (92, 'Bautista', 'Contreras', '1981-12-16', 'M', 'Calle San Fernando 789', 'Sevilla', '41013'),
    (93, 'Luciana', 'Velázquez', '1989-08-29', 'F', 'Plaza del Pilar 123', 'Zaragoza', '50010'),
    (94, 'Tristán', 'Sepúlveda', '1987-04-12', 'M', 'Avenida de la Palmera 456', 'Sevilla', '41014'),
    (95, 'Jimena', 'Galindo', '1995-11-25', 'F', 'Calle de la Montera 789', 'Madrid', '28018'),
    (96, 'Álvaro', 'Leal', '1983-07-08', 'M', 'Paseo de Gracia 123', 'Barcelona', '08023'),
    (97, 'Dafne', 'Robles', '1991-03-21', 'F', 'Rambla de Cataluña 456', 'Barcelona', '08024'),
    (98, 'Ángel', 'Zepeda', '1979-10-04', 'M', 'Calle Mayor 789', 'Madrid', '28019'),
    (99, 'Esmeralda', 'Vigil', '1987-06-17', 'F', 'Plaza de las Flores 123', 'Zaragoza', '50011'),
    (100, 'Pascual', 'Betancourt', '1985-01-30', 'M', 'Avenida del Paralelo 456', 'Barcelona', '08025');

- **Insertar los datos en la tabla Cuentas**

In [10]:

INSERT INTO bank.Cuentas (CuentaID, ClienteID, TipoCuenta, FechaApertura, Saldo)
VALUES
    (1, 1, 'Ahorros', '2010-05-15', 5678.25),
    (2, 1, 'Corriente', '2010-05-15', 2345.67),
    (3, 2, 'Ahorros', '2015-03-20', 9876.54),
    (4, 3, 'Corriente', '2008-11-01', 1234.56),
    (5, 4, 'Ahorros', '2012-07-25', 7890.25),
    (6, 5, 'Corriente', '2018-02-10', 3456.78),
    (7, 6, 'Ahorros', '2014-09-05', 6789.01),
    (8, 7, 'Corriente', '2011-04-18', 2345.67),
    (9, 8, 'Ahorros', '2017-12-31', 8765.43),
    (10, 9, 'Corriente', '2013-06-07', 4567.89),
    (11, 10, 'Ahorros', '2019-01-15', 9012.34),
    (12, 11, 'Corriente', '2009-08-22', 5678.90),
    (13, 12, 'Ahorros', '2016-05-03', 7890.12),
    (14, 13, 'Corriente', '2010-11-28', 3456.78),
    (15, 14, 'Ahorros', '2018-07-10', 6789.34),
    (16, 15, 'Corriente', '2014-03-15', 2345.67),
    (17, 16, 'Ahorros', '2020-02-20', 8765.09),
    (18, 17, 'Corriente', '2011-09-01', 4567.23),
    (19, 18, 'Ahorros', '2017-04-25', 9012.45),
    (20, 19, 'Corriente', '2013-12-08', 5678.67),
    (21, 20, 'Ahorros', '2019-06-30', 7890.89),
    (22, 21, 'Corriente', '2015-01-12', 3456.01),
    (23, 22, 'Ahorros', '2012-08-05', 6789.12),
    (24, 23, 'Corriente', '2016-11-18', 2345.34),
    (25, 24, 'Ahorros', '2020-04-02', 8765.56),
    (26, 25, 'Corriente', '2014-07-27', 4567.78),
    (27, 26, 'Ahorros', '2018-03-10', 9012.90),
    (28, 27, 'Corriente', '2011-10-15', 5678.12),
    (29, 28, 'Ahorros', '2017-06-01', 7890.34),
    (30, 29, 'Corriente', '2013-02-25', 3456.56),
    (31, 30, 'Ahorros', '2019-09-08', 6789.78),
    (32, 31, 'Corriente', '2015-04-20', 2345.90),
    (33, 32, 'Ahorros', '2011-11-13', 8765.12),
    (34, 33, 'Corriente', '2016-07-05', 4567.34),
    (35, 34, 'Ahorros', '2020-02-28', 9012.56),
    (36, 35, 'Corriente', '2012-09-22', 5678.78),
    (37, 36, 'Ahorros', '2018-05-17', 7890.90),
    (38, 37, 'Corriente', '2014-01-03', 3456.12),
    (39, 38, 'Ahorros', '2019-10-25', 6789.34),
    (40, 39, 'Corriente', '2015-07-11', 2345.56),
    (41, 40, 'Ahorros', '2013-04-03', 8765.78),
    (42, 41, 'Corriente', '2017-11-18', 4567.90),
    (43, 42, 'Ahorros', '2020-06-01', 9012.12),
    (44, 43, 'Corriente', '2016-02-14', 5678.34),
    (45, 44, 'Ahorros', '2012-08-27', 7890.56),
    (46, 45, 'Corriente', '2018-03-10', 3456.78),
    (47, 46, 'Ahorros', '2014-10-05', 6789.90),
    (48, 47, 'Corriente', '2019-05-22', 2345.12),
    (49, 48, 'Ahorros', '2015-01-08', 8765.34),
    (50, 49, 'Corriente', '2011-09-30', 4567.56),
    (51, 50, 'Ahorros', '2017-06-15', 9012.78),
    (52, 51, 'Corriente', '2013-03-01', 5678.90),
    (53, 52, 'Ahorros', '2019-11-20', 7890.12),
    (54, 53, 'Corriente', '2016-08-07', 3456.34),
    (55, 54, 'Ahorros', '2014-04-25', 6789.56),
    (56, 55, 'Corriente', '2020-01-10', 2345.78),
    (57, 56, 'Ahorros', '2012-07-03', 8765.90),
    (58, 57, 'Corriente', '2018-02-18', 4567.12),
    (59, 58, 'Ahorros', '2015-09-01', 9012.34),
    (60, 59, 'Corriente', '2011-05-27', 5678.56),
    (61, 60, 'Ahorros', '2017-12-10', 7890.78),
    (62, 61, 'Corriente', '2013-06-23', 3456.90),
    (63, 62, 'Ahorros', '2019-03-08', 6789.12),
    (64, 63, 'Corriente', '2015-10-31', 2345.34),
    (65, 64, 'Ahorros', '2012-04-14', 8765.56),
    (66, 65, 'Corriente', '2018-11-01', 4567.78),
    (67, 66, 'Ahorros', '2016-06-25', 9012.90),
    (68, 67, 'Corriente', '2014-02-09', 5678.12),
    (69, 68, 'Ahorros', '2020-09-17', 7890.34),
    (70, 69, 'Corriente', '2017-05-03', 3456.56),
    (71, 70, 'Ahorros', '2013-12-20', 6789.78),
    (72, 71, 'Corriente', '2019-07-15', 2345.90),
    (73, 72, 'Ahorros', '2015-03-28', 8765.12),
    (74, 73, 'Corriente', '2011-10-11', 4567.34),
    (75, 74, 'Ahorros', '2018-04-24', 9012.56),
    (76, 75, 'Corriente', '2016-01-07', 5678.78),
    (77, 76, 'Ahorros', '2014-08-31', 7890.90),
    (78, 77, 'Corriente', '2020-05-16', 3456.12),
    (79, 78, 'Ahorros', '2012-11-03', 6789.34),
    (80, 79, 'Corriente', '2019-06-29', 2345.56),
    (81, 80, 'Ahorros', '2017-02-12', 8765.78),
    (82, 81, 'Corriente', '2013-09-05', 4567.90),
    (83, 82, 'Ahorros', '2015-04-20', 9012.12),
    (84, 83, 'Corriente', '2011-11-14', 5678.34),
    (85, 84, 'Ahorros', '2018-07-08', 7890.56),
    (86, 85, 'Corriente', '2016-03-01', 3456.78),
    (87, 86, 'Ahorros', '2014-10-25', 6789.90),
    (88, 87, 'Corriente', '2020-06-18', 2345.12),
    (89, 88, 'Ahorros', '2012-02-11', 8765.34),
    (90, 89, 'Corriente', '2019-09-04', 4567.56),
    (91, 90, 'Ahorros', '2017-05-27', 9012.78),
    (92, 91, 'Corriente', '2013-12-10', 5678.90),
    (93, 92, 'Ahorros', '2015-07-03', 7890.12),
    (94, 93, 'Corriente', '2011-03-26', 3456.34),
    (95, 94, 'Ahorros', '2018-10-09', 6789.56),
    (96, 95, 'Corriente', '2016-05-22', 2345.78),
    (97, 96, 'Ahorros', '2014-01-15', 8765.90),
    (98, 97, 'Corriente', '2020-08-29', 4567.12),
    (99, 98, 'Ahorros', '2012-04-03', 9012.34),
    (100, 99, 'Corriente', '2019-11-17', 5678.56);

- **Insertar los datos en la tabla Transacciones**

In [11]:

INSERT INTO bank.Transacciones (TransaccionID, CuentaID, Fecha, Tipo, Monto, Descripcion)
VALUES
    (1, 1, '2023-04-01', 'Depósito', 500.00, 'Depósito de nómina'),
    (2, 2, '2023-04-05', 'Retiro', 200.00, 'Retiro en cajero automático'),
    (3, 3, '2023-04-10', 'Transferencia', 1000.00, 'Transferencia desde otra cuenta'),
    (4, 4, '2023-04-15', 'Pago', 300.00, 'Pago de servicios públicos'),
    (5, 5, '2023-04-20', 'Depósito', 2000.00, 'Depósito de cheque'),
    (6, 6, '2023-04-25', 'Retiro', 150.00, 'Retiro en cajero automático'),
    (7, 7, '2023-04-30', 'Transferencia', 800.00, 'Transferencia a otra cuenta'),
    (8, 8, '2023-05-05', 'Pago', 400.00, 'Pago de tarjeta de crédito'),
    (9, 9, '2023-05-10', 'Depósito', 1500.00, 'Depósito de nómina'),
    (10, 10, '2023-05-15', 'Retiro', 250.00, 'Retiro en cajero automático'),
    (11, 11, '2023-05-20', 'Transferencia', 1200.00, 'Transferencia desde otra cuenta'),
    (12, 12, '2023-05-25', 'Pago', 350.00, 'Pago de servicios públicos'),
    (13, 13, '2023-05-30', 'Depósito', 2500.00, 'Depósito de cheque'),
    (14, 14, '2023-06-04', 'Retiro', 180.00, 'Retiro en cajero automático'),
    (15, 15, '2023-06-09', 'Transferencia', 900.00, 'Transferencia a otra cuenta'),
    (16, 16, '2023-06-14', 'Pago', 450.00, 'Pago de tarjeta de crédito'),
    (17, 17, '2023-06-19', 'Depósito', 1800.00, 'Depósito de nómina'),
    (18, 18, '2023-06-24', 'Retiro', 220.00, 'Retiro en cajero automático'),
    (19, 19, '2023-06-29', 'Transferencia', 1100.00, 'Transferencia desde otra cuenta'),
    (20, 20, '2023-07-04', 'Pago', 380.00, 'Pago de servicios públicos'),
    (21, 21, '2023-07-09', 'Depósito', 2200.00, 'Depósito de cheque'),
    (22, 22, '2023-07-14', 'Retiro', 160.00, 'Retiro en cajero automático'),
    (23, 23, '2023-07-19', 'Transferencia', 850.00, 'Transferencia a otra cuenta'),
    (24, 24, '2023-07-24', 'Pago', 420.00, 'Pago de tarjeta de crédito'),
    (25, 25, '2023-07-29', 'Depósito', 1900.00, 'Depósito de nómina'),
    (26, 26, '2023-08-03', 'Retiro', 240.00, 'Retiro en cajero automático'),
    (27, 27, '2023-08-08', 'Transferencia', 1300.00, 'Transferencia desde otra cuenta'),
    (28, 28, '2023-08-13', 'Pago', 390.00, 'Pago de servicios públicos'),
    (29, 29, '2023-08-18', 'Depósito', 2700.00, 'Depósito de cheque'),
    (30, 30, '2023-08-23', 'Retiro', 170.00, 'Retiro en cajero automático'),
    (31, 31, '2023-08-28', 'Transferencia', 950.00, 'Transferencia a otra cuenta'),
    (32, 32, '2023-09-02', 'Pago', 460.00, 'Pago de tarjeta de crédito'),
    (33, 33, '2023-09-07', 'Depósito', 2100.00, 'Depósito de nómina'),
    (34, 34, '2023-09-12', 'Retiro', 280.00, 'Retiro en cajero automático'),
    (35, 35, '2023-09-17', 'Transferencia', 1400.00, 'Transferencia desde otra cuenta'),
    (36, 36, '2023-09-22', 'Pago', 330.00, 'Pago de servicios públicos'),
    (37, 37, '2023-09-27', 'Depósito', 2300.00, 'Depósito de cheque'),
    (38, 38, '2023-10-02', 'Retiro', 190.00, 'Retiro en cajero automático'),
    (39, 39, '2023-10-07', 'Transferencia', 1000.00, 'Transferencia a otra cuenta'),
    (40, 40, '2023-10-12', 'Pago', 480.00, 'Pago de tarjeta de crédito'),
    (41, 41, '2023-10-17', 'Depósito', 2400.00, 'Depósito de nómina'),
    (42, 42, '2023-10-22', 'Retiro', 260.00, 'Retiro en cajero automático'),
    (43, 43, '2023-10-27', 'Transferencia', 1500.00, 'Transferencia desde otra cuenta'),
    (44, 44, '2023-11-01', 'Pago', 360.00, 'Pago de servicios públicos'),
    (45, 45, '2023-11-06', 'Depósito', 2800.00, 'Depósito de cheque'),
    (46, 46, '2023-11-11', 'Retiro', 210.00, 'Retiro en cajero automático'),
    (47, 47, '2023-11-16', 'Transferencia', 1100.00, 'Transferencia a otra cuenta'),
    (48, 48, '2023-11-21', 'Pago', 490.00, 'Pago de tarjeta de crédito'),
    (49, 49, '2023-11-26', 'Depósito', 2500.00, 'Depósito de nómina'),
    (50, 50, '2023-12-01', 'Retiro', 290.00, 'Retiro en cajero automático'),
    (51, 51, '2023-12-06', 'Transferencia', 1600.00, 'Transferencia desde otra cuenta'),
    (52, 52, '2023-12-11', 'Pago', 370.00, 'Pago de servicios públicos'),
    (53, 53, '2023-12-16', 'Depósito', 3000.00, 'Depósito de cheque'),
    (54, 54, '2023-12-21', 'Retiro', 230.00, 'Retiro en cajero automático'),
    (55, 55, '2023-12-26', 'Transferencia', 1200.00, 'Transferencia a otra cuenta'),
    (56, 56, '2023-12-31', 'Pago', 520.00, 'Pago de tarjeta de crédito'),
    (57, 1, '2024-01-05', 'Depósito', 2600.00, 'Depósito de nómina'),
    (58, 2, '2024-01-10', 'Retiro', 300.00, 'Retiro en cajero automático'),
    (59, 3, '2024-01-15', 'Transferencia', 1700.00, 'Transferencia desde otra cuenta'),
    (60, 4, '2024-01-20', 'Pago', 400.00, 'Pago de servicios públicos'),
    (61, 5, '2024-01-25', 'Depósito', 3200.00, 'Depósito de cheque'),
    (62, 6, '2024-01-30', 'Retiro', 250.00, 'Retiro en cajero automático'),
    (63, 7, '2024-02-04', 'Transferencia', 1300.00, 'Transferencia a otra cuenta'),
    (64, 8, '2024-02-09', 'Pago', 530.00, 'Pago de tarjeta de crédito'),
    (65, 9, '2024-02-14', 'Depósito', 2700.00, 'Depósito de nómina'),
    (66, 10, '2024-02-19', 'Retiro', 320.00, 'Retiro en cajero automático'),
    (67, 11, '2024-02-24', 'Transferencia', 1800.00, 'Transferencia desde otra cuenta'),
    (68, 12, '2024-02-29', 'Pago', 430.00, 'Pago de servicios públicos'),
    (69, 13, '2024-03-05', 'Depósito', 3400.00, 'Depósito de cheque'),
    (70, 14, '2024-03-10', 'Retiro', 270.00, 'Retiro en cajero automático'),
    (71, 15, '2024-03-15', 'Transferencia', 1400.00, 'Transferencia a otra cuenta'),
    (72, 16, '2024-03-20', 'Pago', 560.00, 'Pago de tarjeta de crédito'),
    (73, 17, '2024-03-25', 'Depósito', 2800.00, 'Depósito de nómina'),
    (74, 18, '2024-03-30', 'Retiro', 340.00, 'Retiro en cajero automático'),
    (75, 19, '2024-04-04', 'Transferencia', 1900.00, 'Transferencia desde otra cuenta'),
    (76, 20, '2024-04-09', 'Pago', 460.00, 'Pago de servicios públicos'),
    (77, 21, '2024-04-14', 'Depósito', 3500.00, 'Depósito de cheque'),
    (78, 22, '2024-04-19', 'Retiro', 280.00, 'Retiro en cajero automático'),
    (79, 23, '2024-04-24', 'Transferencia', 1500.00, 'Transferencia a otra cuenta'),
    (80, 24, '2024-04-29', 'Pago', 590.00, 'Pago de tarjeta de crédito'),
    (81, 25, '2024-05-04', 'Depósito', 2900.00, 'Depósito de nómina'),
    (82, 26, '2024-05-09', 'Retiro', 360.00, 'Retiro en cajero automático'),
    (83, 27, '2024-05-14', 'Transferencia', 2000.00, 'Transferencia desde otra cuenta'),
    (84, 28, '2024-05-19', 'Pago', 470.00, 'Pago de servicios públicos'),
    (85, 29, '2024-05-24', 'Depósito', 3600.00, 'Depósito de cheque'),
    (86, 30, '2024-05-29', 'Retiro', 290.00, 'Retiro en cajero automático'),
    (87, 31, '2024-06-03', 'Transferencia', 1600.00, 'Transferencia a otra cuenta'),
    (88, 32, '2024-06-08', 'Pago', 620.00, 'Pago de tarjeta de crédito'),
    (89, 33, '2024-06-13', 'Depósito', 3000.00, 'Depósito de nómina'),
    (90, 34, '2024-06-18', 'Retiro', 380.00, 'Retiro en cajero automático'), 
    (91, 35, '2024-06-23', 'Transferencia', 2100.00, 'Transferencia desde otra cuenta'),
    (92, 36, '2024-06-28', 'Pago', 500.00, 'Pago de servicios públicos'),
    (93, 37, '2024-07-03', 'Depósito', 3700.00, 'Depósito de cheque'),
    (94, 38, '2024-07-08', 'Retiro', 310.00, 'Retiro en cajero automático'),
    (95, 39, '2024-07-13', 'Transferencia', 1700.00, 'Transferencia a otra cuenta'),
    (96, 40, '2024-07-18', 'Pago', 630.00, 'Pago de tarjeta de crédito'),
    (97, 41, '2024-07-23', 'Depósito', 3100.00, 'Depósito de nómina'),
    (98, 42, '2024-07-28', 'Retiro', 390.00, 'Retiro en cajero automático'),
    (99, 43, '2024-08-02', 'Transferencia', 2200.00, 'Transferencia desde otra cuenta'),
    (100, 44, '2024-08-07', 'Pago', 530.00, 'Pago de servicios públicos');

## Preguntas

**1\. ¿Cuántos clientes hay en la base de datos?**

In [17]:
SELECT  COUNT(CLIENTEID) AS Numero_total_Clientes
FROM bank.clientes;

Numero_total_Clientes
100

**2. ¿Cuál es el saldo total de todas las cuentas?**

In [18]:
USE bank;

SELECT SUM(SALDO) AS Saldo_total_todas_cuentas
FROM cuentas;

Saldo_total_todas_cuentas
601209.06

**3. ¿Cuál es el cliente con la cuenta de mayor saldo?**

In [23]:
SELECT C.CLIENTEID, CL.NOMBRE, CL.APELLIDO, C.SALDO AS Saldo_maximo
FROM cuentas C  
INNER JOIN clientes CL ON C.CLIENTEID = CL.CLIENTEID
WHERE C.SALDO = (SELECT MAX(Saldo) FROM cuentas);

CLIENTEID,NOMBRE,APELLIDO,Saldo_maximo
2,María,García,9876.54

**4. ¿Cuántas cuentas de ahorros hay en total?**

In [27]:
SELECT COUNT(TipoCuenta)  AS Total_cuentas_ahorro
FROM cuentas
WHERE TipoCuenta = 'Ahorros';

Total_cuentas_ahorro
50

**5. ¿Cuál es el monto total de depósitos realizados?**

In [28]:
SELECT Tipo, SUM(MONTO) AS Monto_total_depósito
FROM Transacciones
WHERE Tipo = 'Depósito';

Tipo,Monto_total_depósito
Depósito,64700.00

**6. ¿Cuál es el cliente con la mayor cantidad de cuentas?**

In [29]:
SELECT C.CLIENTEID, CL.NOMBRE, CL.APELLIDO, COUNT(*) AS Num_cuentas
FROM cuentas C  
INNER JOIN clientes CL ON C.CLIENTEID= CL.CLIENTEID
GROUP BY C.ClienteID
ORDER BY Num_cuentas DESC 
LIMIT 1;

CLIENTEID,NOMBRE,APELLIDO,Num_cuentas
1,Juan,Pérez,2

**7. ¿Cuál es la ciudad con más clientes?**

In [31]:
SELECT CIUDAD, COUNT(*)  AS Num_clientes
FROM clientes
GROUP BY Ciudad
ORDER BY Num_clientes DESC
LIMIT 1;

CIUDAD,Num_clientes
Barcelona,24

**8. ¿Cuál es el monto promedio de los retiros?**

In [34]:
SELECT AVG(Monto) AS Monto_avg_retiros
FROM Transacciones
WHERE Tipo = 'Retiro';

Monto_avg_retiros
260.800000

**9. ¿Cuáles son los clientes que no tienen cuentas?**

In [37]:
SELECT Nombre, Apellido
FROM clientes
WHERE ClienteID NOT IN (SELECT ClienteID FROM cuentas);

Nombre,Apellido
Pascual,Betancourt

**10. ¿Cuál es la cuenta con la mayor cantidad de transacciones?**

In [41]:
SELECT CUENTAID, COUNT(*) AS num_transacciones
FROM Transacciones
GROUP BY CuentaID
ORDER BY num_transacciones DESC
LIMIT 1;

CUENTAID,num_transacciones
1,2

<span style="color: var(--vscode-foreground);"><b>11.</b>&nbsp;</span> **¿Cuáles son los clientes que tienen cuentas de ahorros y corrientes?**

In [42]:
SELECT ClienteID, Nombre, Apellido
FROM clientes
WHERE ClienteID IN (
    SELECT ClienteID
    FROM cuentas
    WHERE TipoCuenta = 'Ahorros'
) 
AND ClienteID IN (
    SELECT ClienteID
    FROM cuentas
    WHERE TipoCuenta = 'Corriente'
);

ClienteID,Nombre,Apellido
1,Juan,Pérez

**12\. ¿Cuál es el monto total de transacciones por tipo (depósito, retiro, transferencia, pago)?**

In [43]:
SELECT Tipo, SUM(Monto) AS Monto_Total
FROM transacciones
GROUP BY Tipo;

Tipo,Monto_Total
Depósito,64700.00
Retiro,6520.00
Transferencia,35100.00
Pago,11420.00

**13. ¿Cuál es la cuenta con el saldo más bajo?**

In [47]:
SELECT CuentaID, Saldo
FROM cuentas
ORDER BY Saldo
LIMIT 1;

CuentaID,Saldo
4,1234.56

**14. ¿Cuáles son los clientes que no han realizado transacciones?**

**15. ¿Cuál es la fecha de la transacción más antigua?**

In [52]:
SELECT MIN(Fecha) AS Fecha_transaccion_mas_antigua
FROM transacciones;

Fecha_transaccion_mas_antigua
2023-04-01

**16. ¿Cuáles son las 10 cuentas con mayor saldo?**

In [53]:
SELECT *
FROM cuentas
ORDER BY Saldo DESC
LIMIT 10;

CuentaID,ClienteID,TipoCuenta,FechaApertura,Saldo
3,2,Ahorros,2015-03-20,9876.54
27,26,Ahorros,2018-03-10,9012.90
67,66,Ahorros,2016-06-25,9012.90
91,90,Ahorros,2017-05-27,9012.78
51,50,Ahorros,2017-06-15,9012.78
75,74,Ahorros,2018-04-24,9012.56
35,34,Ahorros,2020-02-28,9012.56
19,18,Ahorros,2017-04-25,9012.45
59,58,Ahorros,2015-09-01,9012.34
11,10,Ahorros,2019-01-15,9012.34

**17. ¿Cuál es el cliente con la mayor cantidad de transacciones?**

In [54]:
SELECT c.ClienteID, cl.Nombre, cl.Apellido, COUNT(*) AS num_transacciones
FROM transacciones t
JOIN cuentas c ON t.CuentaID = c.CuentaID
JOIN clientes cl ON c.ClienteID = cl.ClienteID
GROUP BY c.ClienteID, cl.Nombre, cl.Apellido
ORDER BY num_transacciones DESC
LIMIT 1;

ClienteID,Nombre,Apellido,num_transacciones
1,Juan,Pérez,4

**18. ¿Cuáles son las 5 ciudades con más clientes?**

In [55]:
SELECT Ciudad, COUNT(*) AS num_clientes
FROM clientes
GROUP BY Ciudad
ORDER BY num_clientes DESC
LIMIT 5;

Ciudad,num_clientes
Barcelona,24
Madrid,20
Sevilla,14
Zaragoza,11
Málaga,10

**19. ¿Cuál es el monto promedio de las transferencias?**

In [56]:
SELECT AVG(Monto) AS monto_promedio_transferencias
FROM transacciones
WHERE Tipo = 'Transferencia';

monto_promedio_transferencias
1404.000000

**20. ¿Cuáles son los clientes que tienen cuentas abiertas en los últimos 6 meses?**

**21. ¿Cuál es el monto total de pagos realizados?**

In [57]:
SELECT SUM(Monto) AS Monto_Total_Pagos
FROM transacciones
WHERE Tipo = 'Pago';

Monto_Total_Pagos
11420.00

**22. ¿Cuáles son los clientes que tienen cuentas inactivas (sin transacciones en los últimos 3 meses)?**

ClienteID,Nombre,Apellido
1,Juan,Pérez
2,María,García
3,Pedro,Rodríguez
4,Ana,Martínez
5,Carlos,Sánchez
6,Laura,Fernández
7,Javier,Gómez
8,Sofía,Torres
44,Valentina,Piña
45,Damián,Arce
46,Rebeca,Cisneros
47,Samuel,Villalobos
48,Renata,Segovia
49,Emiliano,Salcedo
50,Isabella,Quintero
51,Tomás,Castañeda
52,Sofía,Uribe
53,Martín,Salinas
54,Antonella,Rincón
55,Santiago,Estrada
56,Catalina,Solano
57,Benjamín,Carvajal
58,Constanza,Avendaño
59,Joaquín,Cáceres
60,Isadora,Echevarría
61,Lucas,Pizarro
62,Antonia,Zúñiga
63,Matías,Márquez
64,Rafaela,Acuña
65,Maximiliano,Yáñez
66,Julieta,Baeza
67,Ezequiel,Montero
68,Florencia,Quintana
69,Thiago,Olivares
70,Bianca,Rendón
71,Cristóbal,Palacios
72,Amanda,Parra
73,Emilio,Crespo
74,Ariana,Henríquez
75,Salvador,Morales
76,Fernanda,Tapia
77,Emmanuel,Concha
78,Dulce,Quintero
79,Lisandro,Peralta
80,Luana,Santamaría
81,Máximo,Saldivar
82,Violeta,Ugarte
83,Ignacio,Solís
84,Avril,Olmedo
85,Leonel,Urrutia
86,Paloma,Espinoza
87,Fabrizio,Mora
88,Maite,Heredia
89,Gael,Bernal
90,Amelia,Polo
91,Amelia,Peña
92,Bautista,Contreras
93,Luciana,Velázquez
94,Tristán,Sepúlveda
95,Jimena,Galindo
96,Álvaro,Leal
97,Dafne,Robles
98,Ángel,Zepeda
99,Esmeralda,Vigil
100,Pascual,Betancourt

**23. ¿Cuál es el monto promedio de depósitos por ciudad?**

In [64]:
SELECT c.Ciudad, AVG(t.Monto) AS Promedio_Depositos
FROM clientes c
JOIN cuentas cu ON c.ClienteID = cu.ClienteID
JOIN transacciones t ON cu.CuentaID = t.CuentaID
WHERE t.Tipo = 'Depósito'
GROUP BY c.Ciudad;

Ciudad,Promedio_Depositos
Madrid,2225.000000
Valencia,2650.000000
Palma de Mallorca,2100.000000
Barcelona,2687.500000
Bilbao,2850.000000
Sevilla,3000.000000
Zaragoza,2500.000000

**24. ¿Cuáles son las 10 cuentas con más transacciones?**

In [65]:
SELECT t.CuentaID, COUNT(*) AS Total_Transacciones
FROM transacciones t
GROUP BY t.CuentaID
ORDER BY Total_Transacciones DESC
LIMIT 10;

CuentaID,Total_Transacciones
1,2
2,2
3,2
4,2
5,2
6,2
7,2
8,2
9,2
10,2

**25. ¿Cuáles son los clientes que tienen un saldo total (sumando todas sus cuentas) superior a $9000?**

In [67]:
SELECT cl.ClienteID, cl.Nombre, cl.Apellido, SUM(c.Saldo) AS Saldo_Total
FROM clientes cl
INNER JOIN cuentas c ON cl.ClienteID = c.ClienteID
GROUP BY cl.ClienteID
HAVING Saldo_Total > 9000
ORDER BY Saldo_total DESC;

ClienteID,Nombre,Apellido,Saldo_Total
2,María,García,9876.54
26,Silvia,Vargas,9012.90
66,Julieta,Baeza,9012.90
50,Isabella,Quintero,9012.78
90,Amelia,Polo,9012.78
34,Valeria,Espinosa,9012.56
74,Ariana,Henríquez,9012.56
18,Lucía,Romero,9012.45
10,Isabel,Ramírez,9012.34
58,Constanza,Avendaño,9012.34
98,Ángel,Zepeda,9012.34
42,Mariana,Pizarro,9012.12
82,Violeta,Ugarte,9012.12

**26. ¿Cuáles son las cuentas que han tenido transacciones en todas las fechas del último mes?**

**27. ¿Cuál es el monto promedio de transacciones por tipo de cuenta?**

In [68]:
SELECT c.TipoCuenta, AVG(t.Monto) AS Monto_Promedio
FROM cuentas c
INNER JOIN transacciones t ON c.CuentaID = t.CuentaID
GROUP BY c.TipoCuenta;

TipoCuenta,Monto_Promedio
Ahorros,1996.000000
Corriente,358.800000

**28. ¿Cuáles son los clientes que tienen cuentas con saldo superior al saldo promedio de todas las cuentas?**

In [69]:
SELECT cl.ClienteID, cl.Nombre, cl.Apellido
FROM clientes cl
INNER JOIN cuentas cu ON cl.ClienteID = cu.ClienteID
WHERE cu.Saldo > (SELECT AVG(Saldo) FROM cuentas);

ClienteID,Nombre,Apellido
2,María,García
4,Ana,Martínez
6,Laura,Fernández
8,Sofía,Torres
10,Isabel,Ramírez
12,Marta,Jiménez
14,Carla,Ruiz
16,Alicia,Gutiérrez
18,Lucía,Romero
20,Elena,Santos
22,Cristina,Molina
24,Daniela,Cabrera
26,Silvia,Vargas
28,Carolina,Pardo
30,Claudia,Suárez
32,Adriana,Guerrero
34,Valeria,Espinosa
36,Natalia,Aguilar
38,Gabriela,Arias
40,Camila,Acosta
42,Mariana,Pizarro
44,Valentina,Piña
46,Rebeca,Cisneros
48,Renata,Segovia
50,Isabella,Quintero
52,Sofía,Uribe
54,Antonella,Rincón
56,Catalina,Solano
58,Constanza,Avendaño
60,Isadora,Echevarría
62,Antonia,Zúñiga
64,Rafaela,Acuña
66,Julieta,Baeza
68,Florencia,Quintana
70,Bianca,Rendón
72,Amanda,Parra
74,Ariana,Henríquez
76,Fernanda,Tapia
78,Dulce,Quintero
80,Luana,Santamaría
82,Violeta,Ugarte
84,Avril,Olmedo
86,Paloma,Espinoza
88,Maite,Heredia
90,Amelia,Polo
92,Bautista,Contreras
94,Tristán,Sepúlveda
96,Álvaro,Leal
98,Ángel,Zepeda

**29. ¿Cuál es el monto total de transacciones por cliente y tipo de transacción?**

**30. ¿Cuáles son las cuentas que no han tenido transacciones en los últimos 6 meses?**

**31. ¿Cuál es el monto promedio de transacciones por rango de edad de los clientes?**

**32.** **¿Cuáles son los clientes que tienen cuentas con un saldo superior a la mitad del saldo promedio de todas las cuentas?**

**33. ¿Cuál es el monto total de transacciones por mes y año?**

**34. ¿Cuáles son las cuentas que han tenido transacciones en todas las fechas del último trimestre?**

**35. ¿Cuál es el monto promedio de depósitos por rango de saldo de las cuentas?**

**36. ¿Cuáles son los clientes que tienen cuentas con un saldo superior al saldo máximo de todas las cuentas de ahorros?**

**37. ¿Cuál es el monto total de transacciones por día de la semana?**

**38. ¿Cuáles son las cuentas que han tenido transacciones en todos los meses del año en curso?**

**39. ¿Cuál es el monto promedio de retiros por rango de edad de los clientes?**

**40. ¿Cuáles son los clientes que tienen cuentas con un saldo inferior al saldo mínimo de todas las cuentas corrientes?**

**41.** **¿Cuál es el monto total de transacciones por cliente, ordenado de mayor a menor?**

**42. ¿Cuáles son las cuentas que han tenido al menos una transacción en cada uno de los últimos 12 meses?**

**43. ¿Cuál es el monto promedio de transferencias por ciudad de los clientes?**

**44. ¿Cuáles son los clientes que tienen cuentas con un saldo superior al saldo promedio de todas las cuentas del mismo tipo?**

**45.** **¿Cuál es el monto total de transacciones por trimestre y año?**

**46. ¿Cuáles son las cuentas que han tenido transacciones en todos los años desde su apertura?**

**47. ¿Cuál es el monto promedio de pagos por rango de saldo de las cuentas?**

**48. ¿Cuáles son los clientes que tienen cuentas con un saldo superior al saldo máximo de todas las cuentas corrientes?**

**49\. ¿Cuál es el monto total de transacciones por semana y año?**

**50. ¿Cuáles son las cuentas que han tenido transacciones en todas las semanas del año en curso?**

**51. ¿Cuál es la cuenta con el monto máximo de depósito?**

**52. ¿Cuál es el cliente con la edad máxima?**