# Practica 5 - Consultas en sobre una tabla

1. Conectarse a MySQL Workbench (suele aparecer como **localhost, \<default\> (root)**<span style="font-size:14px;">)</span>
2. Verificar desde Azure Data Studio (conectado a MySQL) que la base de datos: **empleadoss\_departamentoss** aparece en <mark>Databases</mark>.
3. Empezar a resolver las 'querys' (consultas) que se te plantean mas abajo.
4. Las respuestas de cada consulta se encuentran al final de este Notebook.
5. Una vez terminada la practica, guardar los cambios en tu repo local y en remoto. 
6. Realizar la entrega de tu notebook en un archivo comprimido en .zip

## **Preguntas:**

### 

1. <span style="color: rgb(102, 102, 102); font-family: Poppins; font-size: 15px; background-color: rgb(255, 255, 255);">Obtener los datos completos de los empleados.</span>

In [2]:
USE empleados;
SELECT *
FROM empleados;

nDIEmp,nomEmp,sexEmp,fecNac,fecIncorporacion,salEmp,comisionE,cargoE,jefeID,codDepto
1.130.222,José Giraldo,M,1985-01-20,2000-11-01,1200000.0,400000.0,Asesor,22.222.222,3500
1.130.333,Pedro Blanco,M,1987-10-28,2000-10-01,800000.0,3000000.0,Vendedor,31.178.144,2000
1.130.444,Jesús Alfonso,M,1988-03-14,2000-10-01,800000.0,3500000.0,Vendedor,31.178.144,2000
1.130.555,Julián Mora,M,1989-07-03,2000-10-01,800000.0,3100000.0,Vendedor,31.178.144,2200
1.130.666,Manuel Millán,M,1990-12-08,2004-06-01,800000.0,3700000.0,Vendedor,31.178.144,2300
1.130.777,Marcos Cortez,M,1986-06-23,2000-04-16,2550000.0,500000.0,Mecánico,333.333.333,4000
1.130.782,Antonio Gil,M,1980-01-23,2010-04-16,850000.0,1500000.0,Técnico,16.211.383,1500
1.751.219,Melissa Roa,F,1960-06-19,2001-03-16,2250000.0,2500000.0,Vendedor,31.178.144,2100
11.111.111,Irene Díaz,F,1979-09-28,2004-06-01,1050000.0,200000.0,Mecánico,333.333.333,4200
16.211.383,Luis Pérez,M,1956-02-25,2000-01-01,5050000.0,0.0,Director,31.840.269,1500
16.759.060,Darío Casas,M,1960-04-05,1992-11-01,4500000.0,500000.0,Investigador,31.840.269,3000
19.709.802,William Daza,M,1982-10-09,1999-12-16,2250000.0,1000000.0,Investigador,16.759.060,3000
22.222.222,Carla López,F,1975-05-11,2005-07-16,4500000.0,500000.0,Jefe Mercadeo,31.840.269,3500
22.222.333,Carlos Rozo,M,1975-05-11,2001-09-16,750000.0,500000.0,Vigilante,31.840.269,3500
31.174.099,Diana Solarte,F,1957-11-19,1990-05-16,1250000.0,500000.0,Secretaria,31.840.269,1000
31.178.144,Rosa Angulo,F,1957-03-15,1998-08-16,3250000.0,3500000.0,Jefe Ventas,31.840.269,2000
31.840.269,María Rojas,F,1959-01-15,1990-05-16,6250000.0,1500000.0,Gerente,NULL,1000
333.333.333,Elisa Rojas,F,1979-09-28,2004-06-01,3000000.0,1000000.0,Jefe Mecánicos,31.840.269,4000
333.333.334,Marisol Pulido,F,1979-10-01,1990-05-16,3250000.0,1000000.0,Investigador,16.759.060,3000
333.333.335,Ana Moreno,F,1992-01-05,2004-06-01,1200000.0,400000.0,Secretaria,16.759.060,3000
333.333.336,Carolina Ríos,F,1992-02-15,2000-10-01,1250000.0,500000.0,Secretaria,16.211.383,1500
333.333.337,Edith Muñoz,F,1992-03-31,2000-10-01,800000.0,3600000.0,Vendedor,31.178.144,2100
444.444,Abel Gómez,M,1939-12-24,2000-10-01,1050000.0,200000.0,Mecánico,333.333.333,4300
737.689,Mario Llano,M,1945-08-30,1990-05-16,2250000.0,2500000.0,Vendedor,31.178.144,2300
768.782,Joaquín Rosas,M,1947-07-07,1990-05-16,2250000.0,2500000.0,Vendedor,31.178.144,2200
888.888,Iván Duarte,M,1955-08-12,1998-05-16,1050000.0,200000.0,Mecánico,333.333.333,4100

### 2\. Obtener los datos completos de los departamentos.

In [3]:
SELECT *
FROM departamentos;

codDepto,nombreDpto,ciudad,codDirector
1000,GERENCIA,CIUDAD REAL,31.840.269
1500,PRODUCCIÓN,CIUDAD REAL,16.211.383
2000,VENTAS,CIUDAD REAL,31.178.144
2100,VENTAS,BARCELONA,16.211.383
2200,VENTAS,VALENCIA,16.211.383
2300,VENTAS,MADRID,16.759.060
3000,INVESTIGACIÓN,CIUDAD REAL,16.759.060
3500,MERCADEO,CIUDAD REAL,22.222.222
4000,MANTENIMIENTO,CIUDAD REAL,333.333.333
4100,MANTENIMIENTO,BARCELONA,16.759.060
4200,MANTENIMIENTO,VALENCIA,16.759.060
4300,MANTENIMIENTO,MADRID,16.759.060

3. <span style="color: rgb(102, 102, 102); font-family: Poppins; font-size: 15px; background-color: rgb(255, 255, 255);">Obtener los datos de los empleados con cargo ‘Secretaria’.</span>

In [4]:
SELECT *
FROM empleados 
WHERE lower(cargoE)='secretaria';

nDIEmp,nomEmp,sexEmp,fecNac,fecIncorporacion,salEmp,comisionE,cargoE,jefeID,codDepto
31.174.099,Diana Solarte,F,1957-11-19,1990-05-16,1250000.0,500000.0,Secretaria,31.840.269,1000
333.333.335,Ana Moreno,F,1992-01-05,2004-06-01,1200000.0,400000.0,Secretaria,16.759.060,3000
333.333.336,Carolina Ríos,F,1992-02-15,2000-10-01,1250000.0,500000.0,Secretaria,16.211.383,1500

4. <span style="color: rgb(102, 102, 102); font-family: Poppins; font-size: 15px; background-color: rgb(255, 255, 255);">Obtener el nombre y salario de los empleados.</span>

In [5]:
SELECT nomemp as Nombre, salemp as Salario
FROM empleados;

Nombre,Salario
José Giraldo,1200000.0
Pedro Blanco,800000.0
Jesús Alfonso,800000.0
Julián Mora,800000.0
Manuel Millán,800000.0
Marcos Cortez,2550000.0
Antonio Gil,850000.0
Melissa Roa,2250000.0
Irene Díaz,1050000.0
Luis Pérez,5050000.0
Darío Casas,4500000.0
William Daza,2250000.0
Carla López,4500000.0
Carlos Rozo,750000.0
Diana Solarte,1250000.0
Rosa Angulo,3250000.0
María Rojas,6250000.0
Elisa Rojas,3000000.0
Marisol Pulido,3250000.0
Ana Moreno,1200000.0
Carolina Ríos,1250000.0
Edith Muñoz,800000.0
Abel Gómez,1050000.0
Mario Llano,2250000.0
Joaquín Rosas,2250000.0
Iván Duarte,1050000.0

5. <span style="color: rgb(102, 102, 102); font-family: Poppins; font-size: 15px; background-color: rgb(255, 255, 255);">Obtener los datos de los empleados vendedores, ordenado por nombre.</span>

In [6]:
SELECT *
FROM empleados 
WHERE lower(cargoE) = 'vendedor'
order by nomEmp asc;

nDIEmp,nomEmp,sexEmp,fecNac,fecIncorporacion,salEmp,comisionE,cargoE,jefeID,codDepto
333.333.337,Edith Muñoz,F,1992-03-31,2000-10-01,800000.0,3600000.0,Vendedor,31.178.144,2100
1.130.444,Jesús Alfonso,M,1988-03-14,2000-10-01,800000.0,3500000.0,Vendedor,31.178.144,2000
768.782,Joaquín Rosas,M,1947-07-07,1990-05-16,2250000.0,2500000.0,Vendedor,31.178.144,2200
1.130.555,Julián Mora,M,1989-07-03,2000-10-01,800000.0,3100000.0,Vendedor,31.178.144,2200
1.130.666,Manuel Millán,M,1990-12-08,2004-06-01,800000.0,3700000.0,Vendedor,31.178.144,2300
737.689,Mario Llano,M,1945-08-30,1990-05-16,2250000.0,2500000.0,Vendedor,31.178.144,2300
1.751.219,Melissa Roa,F,1960-06-19,2001-03-16,2250000.0,2500000.0,Vendedor,31.178.144,2100
1.130.333,Pedro Blanco,M,1987-10-28,2000-10-01,800000.0,3000000.0,Vendedor,31.178.144,2000

6. <span style="color: rgb(102, 102, 102); font-family: Poppins; font-size: 15px; background-color: rgb(255, 255, 255);">Listar el nombre de los departamentos.</span>

In [7]:
SELECT DISTINCT nombreDPto as Nombre_Departamentos
FROM departamentos;

Nombre_Departamentos
GERENCIA
PRODUCCIÓN
VENTAS
INVESTIGACIÓN
MERCADEO
MANTENIMIENTO

7. <span style="color: rgb(102, 102, 102); font-family: Poppins; font-size: 15px; background-color: rgb(255, 255, 255);">Obtener el nombre y cargo de todos los empleados, ordenado por salario.</span>

In [8]:
select nomEmp, cargoE, salemp 
from empleados 
order by salemp;

nomEmp,cargoE,salemp
Carlos Rozo,Vigilante,750000.0
Pedro Blanco,Vendedor,800000.0
Jesús Alfonso,Vendedor,800000.0
Julián Mora,Vendedor,800000.0
Manuel Millán,Vendedor,800000.0
Edith Muñoz,Vendedor,800000.0
Antonio Gil,Técnico,850000.0
Irene Díaz,Mecánico,1050000.0
Abel Gómez,Mecánico,1050000.0
Iván Duarte,Mecánico,1050000.0
José Giraldo,Asesor,1200000.0
Ana Moreno,Secretaria,1200000.0
Diana Solarte,Secretaria,1250000.0
Carolina Ríos,Secretaria,1250000.0
Melissa Roa,Vendedor,2250000.0
William Daza,Investigador,2250000.0
Mario Llano,Vendedor,2250000.0
Joaquín Rosas,Vendedor,2250000.0
Marcos Cortez,Mecánico,2550000.0
Elisa Rojas,Jefe Mecánicos,3000000.0
Rosa Angulo,Jefe Ventas,3250000.0
Marisol Pulido,Investigador,3250000.0
Darío Casas,Investigador,4500000.0
Carla López,Jefe Mercadeo,4500000.0
Luis Pérez,Director,5050000.0
María Rojas,Gerente,6250000.0

8. <span style="color: rgb(102, 102, 102); font-family: Poppins; font-size: 15px; background-color: rgb(255, 255, 255);">Listar los salarios y comisiones de los empleados del departamento 2000, ordenado por comisión.</span>

In [9]:
SELECT salemp as Salario, comisione as Comisiones
FROM empleados
ORDER BY Comisiones;

Salario,Comisiones
5050000.0,0.0
1050000.0,200000.0
1050000.0,200000.0
1050000.0,200000.0
1200000.0,400000.0
1200000.0,400000.0
2550000.0,500000.0
4500000.0,500000.0
4500000.0,500000.0
750000.0,500000.0
1250000.0,500000.0
1250000.0,500000.0
2250000.0,1000000.0
3000000.0,1000000.0
3250000.0,1000000.0
850000.0,1500000.0
6250000.0,1500000.0
2250000.0,2500000.0
2250000.0,2500000.0
2250000.0,2500000.0
800000.0,3000000.0
800000.0,3100000.0
800000.0,3500000.0
3250000.0,3500000.0
800000.0,3600000.0
800000.0,3700000.0

9. <span style="color: rgb(102, 102, 102); font-family: Poppins; font-size: 15px; background-color: rgb(255, 255, 255);">Listar todas las comisiones.</span>

In [10]:
SELECT DISTINCT comisione as Comisiones
FROM empleados;

Comisiones
400000.0
3000000.0
3500000.0
3100000.0
3700000.0
500000.0
1500000.0
2500000.0
200000.0
0.0
1000000.0
3600000.0

10. <span style="color: rgb(102, 102, 102); font-family: Poppins; font-size: 15px; background-color: rgb(255, 255, 255);">Obtener el valor total a pagar que resulta de sumar a los empleados del departamento 3000 una bonificación de 500.000, en orden alfabético del empleado</span>

In [11]:
SELECT nomemp, codDepto, salemp, (salemp+500000) as 'Pago estimado'
FROM empleados
WHERE codDepto = '3000'
ORDER BY nomemp;

nomemp,codDepto,salemp,Pago estimado
Ana Moreno,3000,1200000.0,1700000.0
Darío Casas,3000,4500000.0,5000000.0
Marisol Pulido,3000,3250000.0,3750000.0
William Daza,3000,2250000.0,2750000.0

11. <span style="color: rgb(102, 102, 102); font-family: Poppins; font-size: 15px; background-color: rgb(255, 255, 255);">Obtener la lista de los empleados que ganan una comisión superior a su sueldo.</span>

In [12]:
SELECT nomemp as Nombre, salemp as Sueldo, comisione as Comision
FROM empleados
WHERE comisionE > salEmp;

Nombre,Sueldo,Comision
Pedro Blanco,800000.0,3000000.0
Jesús Alfonso,800000.0,3500000.0
Julián Mora,800000.0,3100000.0
Manuel Millán,800000.0,3700000.0
Antonio Gil,850000.0,1500000.0
Melissa Roa,2250000.0,2500000.0
Rosa Angulo,3250000.0,3500000.0
Edith Muñoz,800000.0,3600000.0
Mario Llano,2250000.0,2500000.0
Joaquín Rosas,2250000.0,2500000.0

12.  <span style="color: rgb(102, 102, 102); font-family: Poppins; font-size: 15px; background-color: rgb(255, 255, 255);">&nbsp;Listar los empleados cuya comisión es menor o igual que el 30% de su sueldo.</span>

In [13]:
SELECT nomemp, salemp, comisione as Comision
FROM empleados
WHERE comisione <= (salEmp*0.3);

nomemp,salemp,Comision
Marcos Cortez,2550000.0,500000.0
Irene Díaz,1050000.0,200000.0
Luis Pérez,5050000.0,0.0
Darío Casas,4500000.0,500000.0
Carla López,4500000.0,500000.0
María Rojas,6250000.0,1500000.0
Abel Gómez,1050000.0,200000.0
Iván Duarte,1050000.0,200000.0

13. <span style="color: rgb(102, 102, 102); font-family: Poppins; font-size: 15px; background-color: rgb(255, 255, 255);">Elabore un listado donde para cada fila, figure ‘Nombre’ y ‘Cargo’ antes del valor respectivo para cada empleado.</span>

In [14]:
SELECT nomemp as 'Nombre', cargoe as 'Cargo'
FROM empleados;

Nombre,Cargo
José Giraldo,Asesor
Pedro Blanco,Vendedor
Jesús Alfonso,Vendedor
Julián Mora,Vendedor
Manuel Millán,Vendedor
Marcos Cortez,Mecánico
Antonio Gil,Técnico
Melissa Roa,Vendedor
Irene Díaz,Mecánico
Luis Pérez,Director
Darío Casas,Investigador
William Daza,Investigador
Carla López,Jefe Mercadeo
Carlos Rozo,Vigilante
Diana Solarte,Secretaria
Rosa Angulo,Jefe Ventas
María Rojas,Gerente
Elisa Rojas,Jefe Mecánicos
Marisol Pulido,Investigador
Ana Moreno,Secretaria
Carolina Ríos,Secretaria
Edith Muñoz,Vendedor
Abel Gómez,Mecánico
Mario Llano,Vendedor
Joaquín Rosas,Vendedor
Iván Duarte,Mecánico

14. <span style="color: rgb(102, 102, 102); font-family: Poppins; font-size: 15px; background-color: rgb(255, 255, 255);">Hallar el salario y la comisión de aquellos empleados cuyo número de documento de identidad es superior al ‘19.709.802’.</span>

In [15]:
SELECT nDIEmp as Documento_Identidad, salemp as Salario, comisione as Comisión
FROM empleados
WHERE nDIEmp > '19.709.802'

Documento_Identidad,Salario,Comisión
22.222.222,4500000.0,500000.0
22.222.333,750000.0,500000.0
31.174.099,1250000.0,500000.0
31.178.144,3250000.0,3500000.0
31.840.269,6250000.0,1500000.0
333.333.333,3000000.0,1000000.0
333.333.334,3250000.0,1000000.0
333.333.335,1200000.0,400000.0
333.333.336,1250000.0,500000.0
333.333.337,800000.0,3600000.0
444.444,1050000.0,200000.0
737.689,2250000.0,2500000.0
768.782,2250000.0,2500000.0
888.888,1050000.0,200000.0

15. <span style="color: rgb(102, 102, 102); font-family: Poppins; font-size: 15px; background-color: rgb(255, 255, 255);">Muestra los empleados cuyo nombre empiece entre las letras J y Z (rango).</span>  
<span style="color: rgb(102, 102, 102); font-family: Poppins; font-size: 15px; background-color: rgb(255, 255, 255);">Liste estos empleados y su cargo por orden alfabético.</span>

In [16]:
SELECT nomemp as Nombre, cargoe as Cargo
FROM empleados
WHERE lower(nomemp) > 'j' AND lower(nomemp) < 'z'
ORDER BY Nombre;

Nombre,Cargo
Jesús Alfonso,Vendedor
Joaquín Rosas,Vendedor
José Giraldo,Asesor
Julián Mora,Vendedor
Luis Pérez,Director
Manuel Millán,Vendedor
Marcos Cortez,Mecánico
Mario Llano,Vendedor
Marisol Pulido,Investigador
María Rojas,Gerente
Melissa Roa,Vendedor
Pedro Blanco,Vendedor
Rosa Angulo,Jefe Ventas
William Daza,Investigador

<span style="color: rgb(102, 102, 102); font-family: Poppins; font-size: 15px; background-color: rgb(255, 255, 255);">16. Listar el salario, la comisión, el salario total (salario + comisión), documento de identidad del empleado y nombre, de aquellos empleados que tienen comisión superior a 1.000.000, ordenar el informe por el número del documento de identidad</span>

In [17]:
SELECT salemp as Salario, comisione as Comison,
        (salemp + comisione) as 'Salario Total',
        ndiemp as Documento_Identidad
FROM empleados
WHERE comisione > 1000000
ORDER BY ndiemp;

Salario,Comison,Salario Total,Documento_Identidad
800000.0,3000000.0,3800000.0,1.130.333
800000.0,3500000.0,4300000.0,1.130.444
800000.0,3100000.0,3900000.0,1.130.555
800000.0,3700000.0,4500000.0,1.130.666
850000.0,1500000.0,2350000.0,1.130.782
2250000.0,2500000.0,4750000.0,1.751.219
3250000.0,3500000.0,6750000.0,31.178.144
6250000.0,1500000.0,7750000.0,31.840.269
800000.0,3600000.0,4400000.0,333.333.337
2250000.0,2500000.0,4750000.0,737.689
2250000.0,2500000.0,4750000.0,768.782

<span style="color: rgb(102, 102, 102); font-family: Poppins; font-size: 15px; background-color: rgb(255, 255, 255);">17. Obtener un listado similar al anterior, pero de aquellos empleados que NO tienen comisión</span>

In [18]:
SELECT salemp AS Salario, comisione AS Comision,
        (salemp + comisione) as 'Salario Total',
        ndiemp AS Doc_Identidad
FROM empleados
WHERE comisione = 0 
ORDER BY ndiemp;

Salario,Comision,Salario Total,Doc_Identidad
5050000.0,0.0,5050000.0,16.211.383

18. <span style="color: rgb(102, 102, 102); font-family: Poppins; font-size: 15px; background-color: rgb(255, 255, 255);">Hallar los empleados cuyo nombre no contiene la cadena «MA»</span>

In [19]:
SELECT nomEmp AS Nombre_empleados
FROM empleados
WHERE lower(nomEmp) not like '%ma%';

Nombre_empleados
José Giraldo
Pedro Blanco
Jesús Alfonso
Julián Mora
Antonio Gil
Melissa Roa
Irene Díaz
Luis Pérez
Darío Casas
William Daza
Carla López
Carlos Rozo
Diana Solarte
Rosa Angulo
Elisa Rojas
Ana Moreno
Carolina Ríos
Edith Muñoz
Abel Gómez
Joaquín Rosas
Iván Duarte

19. <span style="color: rgb(102, 102, 102); font-family: Poppins; font-size: 15px; background-color: rgb(255, 255, 255);">Obtener los nombres de los departamentos que no sean “Ventas” ni “Investigación” NI</span>  
<span style="color: rgb(102, 102, 102); font-family: Poppins; font-size: 15px; background-color: rgb(255, 255, 255);">‘MANTENIMIENTO’.</span>

In [20]:
USE empleados;

In [21]:

SELECT nombreDpto as Nombre_departamento
FROM departamentos
WHERE lower(nombreDpto) not in ('ventas', 'investigación', 'mantenimiento');

Nombre_departamento
GERENCIA
PRODUCCIÓN
MERCADEO

20. <span style="color: rgb(102, 102, 102); font-family: Poppins; font-size: 15px; background-color: rgb(255, 255, 255);">Obtener el nombre y el departamento de los empleados con cargo ‘Secretaria’ o ‘Vendedor’, que no trabajan en el departamento de “PRODUCCION”, cuyo salario es superior a $1.000.000, ordenados por fecha de incorporación.</span>

In [22]:
SELECT e.nomEmp, e.codDepto, e.CargoE, d.nombreDpto, d.codDepto 
FROM empleados e, departamentos d    
WHERE e.codDepto=d.codDepto AND lower(e.cargoE)='Secretaria' OR lower(e.cargoE)='vendedor'
AND lower(d.nombreDpto) <> 'Produccion' AND e.salEmp > 1000000
ORDER BY e.fecIncorporacion;

nomEmp,codDepto,CargoE,nombreDpto,codDepto
Mario Llano,2300,Vendedor,VENTAS,2300
Joaquín Rosas,2200,Vendedor,MANTENIMIENTO,4300
Joaquín Rosas,2200,Vendedor,MANTENIMIENTO,4200
Joaquín Rosas,2200,Vendedor,MANTENIMIENTO,4100
Joaquín Rosas,2200,Vendedor,MANTENIMIENTO,4000
Joaquín Rosas,2200,Vendedor,MERCADEO,3500
Joaquín Rosas,2200,Vendedor,INVESTIGACIÓN,3000
Joaquín Rosas,2200,Vendedor,VENTAS,2300
Joaquín Rosas,2200,Vendedor,VENTAS,2200
Joaquín Rosas,2200,Vendedor,VENTAS,2100
Joaquín Rosas,2200,Vendedor,VENTAS,2000
Joaquín Rosas,2200,Vendedor,PRODUCCIÓN,1500
Mario Llano,2300,Vendedor,MANTENIMIENTO,4300
Mario Llano,2300,Vendedor,MANTENIMIENTO,4200
Mario Llano,2300,Vendedor,MANTENIMIENTO,4100
Mario Llano,2300,Vendedor,MANTENIMIENTO,4000
Mario Llano,2300,Vendedor,MERCADEO,3500
Mario Llano,2300,Vendedor,INVESTIGACIÓN,3000
Joaquín Rosas,2200,Vendedor,GERENCIA,1000
Mario Llano,2300,Vendedor,VENTAS,2200
Mario Llano,2300,Vendedor,VENTAS,2100
Mario Llano,2300,Vendedor,VENTAS,2000
Mario Llano,2300,Vendedor,PRODUCCIÓN,1500
Mario Llano,2300,Vendedor,GERENCIA,1000
Melissa Roa,2100,Vendedor,MANTENIMIENTO,4200
Melissa Roa,2100,Vendedor,MANTENIMIENTO,4100
Melissa Roa,2100,Vendedor,MANTENIMIENTO,4000
Melissa Roa,2100,Vendedor,MERCADEO,3500
Melissa Roa,2100,Vendedor,INVESTIGACIÓN,3000
Melissa Roa,2100,Vendedor,VENTAS,2300
Melissa Roa,2100,Vendedor,VENTAS,2200
Melissa Roa,2100,Vendedor,VENTAS,2100
Melissa Roa,2100,Vendedor,VENTAS,2000
Melissa Roa,2100,Vendedor,PRODUCCIÓN,1500
Melissa Roa,2100,Vendedor,GERENCIA,1000
Melissa Roa,2100,Vendedor,MANTENIMIENTO,4300

<span style="color: rgb(102, 102, 102); font-family: Poppins; font-size: 15px; background-color: rgb(255, 255, 255);">21. Obtener información de los empleados cuyo nombre tiene exactamente 11 caracteres</span>

In [23]:
USE empleados;
SELECT * 
FROM empleados
WHERE char_length(nomemp) = 11;

nDIEmp,nomEmp,sexEmp,fecNac,fecIncorporacion,salEmp,comisionE,cargoE,jefeID,codDepto
1.130.555,Julián Mora,M,1989-07-03,2000-10-01,800000.0,3100000.0,Vendedor,31.178.144,2200
1.130.782,Antonio Gil,M,1980-01-23,2010-04-16,850000.0,1500000.0,Técnico,16.211.383,1500
1.751.219,Melissa Roa,F,1960-06-19,2001-03-16,2250000.0,2500000.0,Vendedor,31.178.144,2100
16.759.060,Darío Casas,M,1960-04-05,1992-11-01,4500000.0,500000.0,Investigador,31.840.269,3000
22.222.222,Carla López,F,1975-05-11,2005-07-16,4500000.0,500000.0,Jefe Mercadeo,31.840.269,3500
22.222.333,Carlos Rozo,M,1975-05-11,2001-09-16,750000.0,500000.0,Vigilante,31.840.269,3500
31.178.144,Rosa Angulo,F,1957-03-15,1998-08-16,3250000.0,3500000.0,Jefe Ventas,31.840.269,2000
31.840.269,María Rojas,F,1959-01-15,1990-05-16,6250000.0,1500000.0,Gerente,NULL,1000
333.333.333,Elisa Rojas,F,1979-09-28,2004-06-01,3000000.0,1000000.0,Jefe Mecánicos,31.840.269,4000
333.333.337,Edith Muñoz,F,1992-03-31,2000-10-01,800000.0,3600000.0,Vendedor,31.178.144,2100
737.689,Mario Llano,M,1945-08-30,1990-05-16,2250000.0,2500000.0,Vendedor,31.178.144,2300
888.888,Iván Duarte,M,1955-08-12,1998-05-16,1050000.0,200000.0,Mecánico,333.333.333,4100

22. <span style="color: rgb(102, 102, 102); font-family: Poppins; font-size: 15px; background-color: rgb(255, 255, 255);">Obtener información de los empleados cuyo nombre tiene al menos 11 caracteres</span>

In [28]:
SELECT nomEmp AS Nombre_empleado 
FROM empleados
WHERE char_length(nomemp) < 11;

Nombre_empleado
Irene Díaz
Luis Pérez
Ana Moreno
Abel Gómez

23. <span style="color: rgb(102, 102, 102); font-family: Poppins; font-size: 15px; background-color: rgb(255, 255, 255);">Listar los datos de los empleados cuyo nombre inicia por la letra ‘M’, su salario es mayor a $800.000 o reciben comisión y trabajan para el departamento de ‘VENTAS’</span>

In [25]:
SELECT e.nomEmp, d.nombreDpto, e.salEmp
FROM empleados e, departamentos d 
WHERE e.codDepto=d.codDepto AND lower(e.nomEmp) LIKE 'm%' AND (e.salEmp > 800000 OR e.comisionE>0 )

: 1305 (42000): FUNCTION empleados.char_lenght does not exist

nomEmp,nombreDpto,salEmp
Manuel Millán,VENTAS,800000.0
Marcos Cortez,MANTENIMIENTO,2550000.0
Melissa Roa,VENTAS,2250000.0
María Rojas,GERENCIA,6250000.0
Marisol Pulido,INVESTIGACIÓN,3250000.0
Mario Llano,VENTAS,2250000.0

24. <span style="color: rgb(102, 102, 102); font-family: Poppins; font-size: 15px; background-color: rgb(255, 255, 255);">Obtener los nombres, salarios y comisiones de los empleados que reciben un salario situado entre la mitad de la comisión la propia comisión.</span>

In [29]:
SELECT nomEmp as Nombre, salEmp as Salario_empleado, comisionE as Comisiones
FROM empleados
WHERE salEmp BETWEEN (comisionE/2) AND comisionE;

Nombre,Salario_empleado,Comisiones
Antonio Gil,850000.0,1500000.0
Melissa Roa,2250000.0,2500000.0
Rosa Angulo,3250000.0,3500000.0
Mario Llano,2250000.0,2500000.0
Joaquín Rosas,2250000.0,2500000.0

25. <span style="color: rgb(102, 102, 102); font-family: Poppins; font-size: 15px; background-color: rgb(255, 255, 255);">Mostrar el salario más alto de la empresa.</span>

In [33]:
SELECT nomemp AS Nombre_empleado, salEmp AS 'Salario mayor'
FROM empleados;
WHERE salEmp = (SELECT MAX(salEmp) FROM empleados)
ORDER BY salEmp ASC;

Nombre_empleado,Salario mayor
José Giraldo,1200000.0
Pedro Blanco,800000.0
Jesús Alfonso,800000.0
Julián Mora,800000.0
Manuel Millán,800000.0
Marcos Cortez,2550000.0
Antonio Gil,850000.0
Melissa Roa,2250000.0
Irene Díaz,1050000.0
Luis Pérez,5050000.0
Darío Casas,4500000.0
William Daza,2250000.0
Carla López,4500000.0
Carlos Rozo,750000.0
Diana Solarte,1250000.0
Rosa Angulo,3250000.0
María Rojas,6250000.0
Elisa Rojas,3000000.0
Marisol Pulido,3250000.0
Ana Moreno,1200000.0
Carolina Ríos,1250000.0
Edith Muñoz,800000.0
Abel Gómez,1050000.0
Mario Llano,2250000.0
Joaquín Rosas,2250000.0
Iván Duarte,1050000.0

: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'WHERE salEmp = (SELECT MAX(salEmp) FROM empleados)
ORDER BY salEmp ASC' at line 1

26. <span style="color: rgb(102, 102, 102); font-family: Poppins; font-size: 15px; background-color: rgb(255, 255, 255);">Mostrar cada una de las comisiones y el número de empleados que las reciben. Solo si tiene comisión.</span>

In [35]:
SELECT comisionE, count(*) AS Num_empleados
FROM empleados GROUP BY comisionE HAVING comisionE > 0;

comisionE,Num_empleados
400000.0,2
3000000.0,1
3500000.0,2
3100000.0,1
3700000.0,1
500000.0,6
1500000.0,2
2500000.0,3
200000.0,3
1000000.0,3
3600000.0,1

27. <span style="color: rgb(102, 102, 102); font-family: Poppins; font-size: 15px; background-color: rgb(255, 255, 255);">Mostrar el nombre del último empleado de la lista por orden alfabético.</span>

In [36]:
SELECT MAX(nomemp) AS 'Mayor alfabeticamente'
FROM empleados;

Mayor alfabeticamente
William Daza

28. <span style="color: rgb(102, 102, 102); font-family: Poppins; font-size: 15px; background-color: rgb(255, 255, 255);">Hallar el salario más alto, el más bajo y la diferencia entre ellos.</span>

In [47]:
SELECT max(salEmp) AS 'Salario mayor', 
            min(salEmp) as 'Salario menor', 
            max(salEmp) - min(salEmp) as 'Diferencia_salarios'
FROM empleados;

Salario mayor,Salario menor,Diferencia_salarios
6250000.0,750000.0,5500000.0

<span style="color: rgb(102, 102, 102); font-family: Poppins; font-size: 15px; background-color: rgb(255, 255, 255);">29. Mostrar el número de empleados de sexo femenino y de sexo masculino, por departamento.</span>

In [44]:
SELECT codDepto, sexemp, count(*)
FROM empleados 
GROUP BY codDepto, sexemp;

codDepto,sexemp,count(*)
3500,M,2
2000,M,2
2200,M,2
2300,M,2
4000,M,1
1500,M,2
2100,F,2
4200,F,1
3000,M,2
3500,F,1
1000,F,2
2000,F,1
4000,F,1
3000,F,2
1500,F,1
4300,M,1
4100,M,1

30. <span style="color: rgb(102, 102, 102); font-family: Poppins; font-size: 15px; background-color: rgb(255, 255, 255);">Hallar el salario promedio por departamento.</span>

In [46]:
SELECT codDepto, avg(salemp)
FROM empleados
GROUP BY codDepto
ORDER BY avg(salemp) ASC;

codDepto,avg(salemp)
4100,1050000.0
4200,1050000.0
4300,1050000.0
2100,1525000.0
2200,1525000.0
2300,1525000.0
2000,1616666.6666666667
3500,2150000.0
1500,2383333.3333333335
4000,2775000.0
3000,2800000.0
1000,3750000.0

31. <span style="color: rgb(102, 102, 102); font-family: Poppins; font-size: 15px; background-color: rgb(255, 255, 255);">Mostrar la lista de los empleados cuyo salario es mayor o igual que el promedio de la empresa. Ordenarlo por departamento.</span>

In [49]:
SELECT nomEmp as Nombre_empleados, salEmp as Salario_empleados, codDepto AS Departamento
FROM empleados 
WHERE salEmp >= (
    SELECT avg(salEmp)
    FROM empleados
)
ORDER by codDepto;

Nombre_empleados,Salario_empleados,Departamento
María Rojas,6250000.0,1000
Luis Pérez,5050000.0,1500
Rosa Angulo,3250000.0,2000
Melissa Roa,2250000.0,2100
Joaquín Rosas,2250000.0,2200
Mario Llano,2250000.0,2300
Darío Casas,4500000.0,3000
William Daza,2250000.0,3000
Marisol Pulido,3250000.0,3000
Carla López,4500000.0,3500
Marcos Cortez,2550000.0,4000
Elisa Rojas,3000000.0,4000

32. <span style="color: rgb(102, 102, 102); font-family: Poppins; font-size: 15px; background-color: rgb(255, 255, 255);">Hallar los departamentos que tienen más de tres empleados. Mostrar el número de empleados de esos departamentos.</span>

In [51]:
SELECT d.codDepto, d.nombreDpto, count(*) as 'Num empleados'
FROM departamentos d, empleados e
WHERE d.codDepto=e.codDepto
GROUP BY d.codDepto
HAVING count(*) >=3;

codDepto,nombreDpto,Num empleados
1500,PRODUCCIÓN,3
2000,VENTAS,3
3000,INVESTIGACIÓN,4
3500,MERCADEO,3

33. <span style="color: rgb(102, 102, 102); font-family: Poppins; font-size: 15px; background-color: rgb(255, 255, 255);">Mostrar el código y nombre de cada jefe, junto al número de empleados que dirige. Solo los que tengan mas de dos empleados (2 incluido).</span>

In [53]:
SELECT j.nDIEmp, j.nomEmp, COUNT(*) AS 'Num Empleados'
FROM empleados e
JOIN empleados j ON e.jefeID = j.nDIEmp
GROUP BY j.nDIEmp, j.nomEmp
HAVING COUNT(*) >= 2
ORDER BY COUNT(*) DESC;

nDIEmp,nomEmp,Num Empleados
31.178.144,Rosa Angulo,8
31.840.269,María Rojas,7
333.333.333,Elisa Rojas,4
16.759.060,Darío Casas,3
16.211.383,Luis Pérez,2

34.  <span style="color: rgb(102, 102, 102); font-family: Poppins; font-size: 15px; background-color: rgb(255, 255, 255);">&nbsp;Hallar los departamentos que no tienen empleados</span>

In [54]:
SELECT d.codDepto, d.nombreDpto
FROM departamentos d, empleados e  
WHERE d.codDepto=e.codDepto
GROUP BY d.codDepto
having count(*) = 0;

35.  <span style="color: rgb(102, 102, 102); font-family: Poppins; font-size: 15px; background-color: rgb(255, 255, 255);">&nbsp;Mostrar el nombre del departamento cuya suma de salarios sea la más alta, indicando el valor de la suma.</span>

In [55]:
SELECT d.nombreDpto, sum(e.salEmp)
FROM departamentos d, empleados e  
WHERE d.codDepto=e.codDepto 
GROUP BY d.nombreDpto
ORDER BY sum(e.salEmp) desc  
limit 1;

nombreDpto,sum(e.salEmp)
VENTAS,14000000.0

36. <span style="color: rgb(102, 102, 102); font-family: Poppins; font-size: 15px; background-color: rgb(255, 255, 255);">Mostrar el nombre del departamento cuya suma de salarios sea la más alta, indicando el valor de la suma.</span>

In [56]:
SELECT d.nombreDpto, sum(e.salEmp)
FROM departamentos d, empleados e  
WHERE d.codDepto=e.codDepto 
GROUP BY d.nombreDpto
ORDER BY sum(e.salEmp) desc  
limit 1;

nombreDpto,sum(e.salEmp)
VENTAS,14000000.0

### _Las soluciones las puedes encontrar [aqui](https:\www.discoduroderoer.es\ejercicios-propuestos-y-resueltos-de-consultas-mysql-empleados-y-departamentos\)_