# ANALISIS DE SERIES DE TIEMPO CON SQL

### Conversiones de formato de fecha:

- Tengo 3 columnas: la columan fecha esta como datetime (YYYY-MM-DD HH:MM:SS)

In [5]:
USE opep; 

SELECT * 
FROM Zonas;

ID_Zona,Fecha,Zona
1,2024-11-19 19:50:21,Norte
2,2024-11-20 07:20:01,Norte
3,2024-11-21 04:11:41,Este
4,2024-11-22 19:08:00,Oeste

In [12]:
SHOW COLUMNS FROM `opep`.`zonas`;

Field,Type,Null,Key,Default,Extra
ID_Zona,b'int',NO,PRI,NULL,
Fecha,b'datetime',YES,,NULL,
Zona,b'varchar(45)',YES,,NULL,

- _<mark>Devolver la **fecha** u **hora actual**</mark>_

In [13]:
--SELECT CURRENT_DATE; en MySQL para obtener la fecha actual.
SELECT CURRENT_DATE;

CURRENT_DATE
2024-05-17

In [14]:
SELECT NOW(); 
--SELECT CURRENT_TIMESTAMP;
--SELECT LOCALTIMESTAMP;
--SELECT LOCALTIME;

NOW()
2024-05-17 17:10:55

In [18]:
--CURRENT_TIME, Devuelve la hora actual en el formato HH:MM:SS.
SELECT CURRENT_TIME;

CURRENT_TIME
17:13:28

In [19]:
SELECT LOCALTIME;

LOCALTIME
2024-05-17 17:14:30

In [39]:
-- Obtener el día actual
SELECT DAY(CURRENT_TIMESTAMP) AS Day;
--SELECT EXTRACT(DAY FROM CURRENT_TIMESTAMP) AS Day;

Day
17

In [40]:
-- Obtener el mes actual
SELECT MONTH(CURRENT_TIMESTAMP) AS Month;
--SELECT EXTRACT(MONTH FROM CURRENT_TIMESTAMP) AS Month;

Month
5

In [41]:
-- Obtener la hora actual
SELECT HOUR(CURRENT_TIMESTAMP) AS Hour;
--SELECT EXTRACT(HOUR FROM CURRENT_TIMESTAMP) AS Hour;

Hour
17

In [43]:
-- Obtener el día actual
SELECT EXTRACT(DAY FROM CURRENT_TIMESTAMP) AS Day;

Day
17

In [47]:
-- Obtener el día de la semana
SELECT DATE_FORMAT(CURRENT_DATE, '%W') AS DayOfWeek;

DayOfWeek
Friday

In [48]:
-- Obtener el nombre del mes
SELECT DATE_FORMAT(CURRENT_DATE, '%M') AS MonthName;

MonthName
May

## 

- Truncamiento,  truncar la columna `Fecha` <span style="color: rgb(13, 13, 13); font-family: Söhne, ui-sans-serif, system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, Ubuntu, Cantarell, &quot;Noto Sans&quot;, sans-serif, &quot;Helvetica Neue&quot;, Arial, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; font-size: 16px; white-space-collapse: preserve; background-color: rgb(255, 255, 255);">a diferentes niveles de granularidad. </span> Ejemplos de truncamiento para diferentes niveles: mes, día, hora y minuto.

In [29]:
-- Truncar a mes:
SELECT ID_Zona, 
       STR_TO_DATE(DATE_FORMAT(Fecha, '%Y-%m-01'), '%Y-%m-%d') AS Fecha_Trunc_Mes, 
       Zona
FROM Zonas;

ID_Zona,Fecha_Trunc_Mes,Zona
1,2024-11-01,Norte
2,2024-11-01,Norte
3,2024-11-01,Este
4,2024-11-01,Oeste

In [31]:
--Truncar a día
SELECT ID_Zona, 
       DATE_FORMAT(Fecha, '%Y-%m-%d') AS Fecha_Trunc_Dia, 
       Zona
FROM Zonas;

ID_Zona,Fecha_Trunc_Dia,Zona
1,2024-11-19,Norte
2,2024-11-20,Norte
3,2024-11-21,Este
4,2024-11-22,Oeste

In [33]:
--Truncar a hora:
SELECT ID_Zona, 
       DATE_FORMAT(Fecha, '%Y-%m-%d %H:00:00') AS Fecha_Trunc_Hora, 
       Zona
FROM Zonas;

ID_Zona,Fecha_Trunc_Hora,Zona
1,2024-11-19 19:00:00,Norte
2,2024-11-20 07:00:00,Norte
3,2024-11-21 04:00:00,Este
4,2024-11-22 19:00:00,Oeste

In [35]:
-- Truncar a minuto:
SELECT ID_Zona, 
       DATE_FORMAT(Fecha, '%Y-%m-%d %H:%i:00') AS Fecha_Trunc_Minuto, 
       Zona
FROM Zonas;

ID_Zona,Fecha_Trunc_Minuto,Zona
1,2024-11-19 19:50:00,Norte
2,2024-11-20 07:20:00,Norte
3,2024-11-21 04:11:00,Este
4,2024-11-22 19:08:00,Oeste

In [37]:
-- Truncar a segundo:
SELECT ID_Zona, 
       DATE_FORMAT(Fecha, '%Y-%m-%d %H:%i:%s') AS Fecha_Trunc_Segundo, 
       Zona
FROM Zonas;

ID_Zona,Fecha_Trunc_Segundo,Zona
1,2024-11-19 19:50:21,Norte
2,2024-11-20 07:20:01,Norte
3,2024-11-21 04:11:41,Este
4,2024-11-22 19:08:00,Oeste

Day
17

### 

- <span style="color: rgb(13, 13, 13); font-family: Söhne, ui-sans-serif, system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, Ubuntu, Cantarell, &quot;Noto Sans&quot;, sans-serif, &quot;Helvetica Neue&quot;, Arial, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; font-size: 16px; white-space-collapse: preserve; background-color: rgb(255, 255, 255);">En MySQL, puedes usar la función </span> `TIMESTAMPDIFF(unit, start_date, end_date)` <span style="color: rgb(13, 13, 13); font-family: Söhne, ui-sans-serif, system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, Ubuntu, Cantarell, &quot;Noto Sans&quot;, sans-serif, &quot;Helvetica Neue&quot;, Arial, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; font-size: 16px; white-space-collapse: preserve; background-color: rgb(255, 255, 255);"> para obtener la diferencia entre dos fechas en la unidad especificada.</span>

In [44]:
--número de días de un intervalo de 30 días:
--calculará la diferencia en días entre la fecha actual y la fecha 30 días en el futuro.
SELECT TIMESTAMPDIFF(DAY, CURRENT_DATE, DATE_ADD(CURRENT_DATE, INTERVAL 30 DAY)) AS Days;

Days
30

In [45]:
--calcula la diferencia en días entre la fecha actual y la fecha después de 3 meses.
SELECT DATEDIFF(DATE_ADD(CURRENT_DATE, INTERVAL 3 MONTH), CURRENT_DATE) AS Days;

Days
92

DayOfWeek
Friday

### 

- `CONCAT()` <span style="color: rgb(13, 13, 13); font-family: Söhne, ui-sans-serif, system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, Ubuntu, Cantarell, &quot;Noto Sans&quot;, sans-serif, &quot;Helvetica Neue&quot;, Arial, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; font-size: 16px; white-space-collapse: preserve; background-color: rgb(255, 255, 255);"> para concatenar la fecha y la hora, y luego convertir el resultado a un tipo de datos </span> `DATETIME` <span style="color: rgb(13, 13, 13); font-family: Söhne, ui-sans-serif, system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, Ubuntu, Cantarell, &quot;Noto Sans&quot;, sans-serif, &quot;Helvetica Neue&quot;, Arial, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; font-size: 16px; white-space-collapse: preserve; background-color: rgb(255, 255, 255);"> o </span> `TIMESTAMP`<span style="color: rgb(13, 13, 13); font-family: Söhne, ui-sans-serif, system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, Ubuntu, Cantarell, &quot;Noto Sans&quot;, sans-serif, &quot;Helvetica Neue&quot;, Arial, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; font-size: 16px; white-space-collapse: preserve; background-color: rgb(255, 255, 255);">.</span>

In [49]:
-- Concatenar la fecha '2020-09-01' y la hora '03:00:00' y convertirlas a marca de tiempo
SELECT CONCAT('2020-09-01', ' ', '03:00:00') AS timestamp;

timestamp
2020-09-01 03:00:00

In [50]:
-- Convertir la cadena de marca de tiempo a tipo de datos TIMESTAMP
SELECT STR_TO_DATE(CONCAT('2020-09-01', ' ', '03:00:00'), '%Y-%m-%d %H:%i:%s') AS timestamp;

timestamp
2020-09-01 03:00:00

In [51]:
-- Usando CONCAT() y DATE() para ensamblar una fecha
SELECT DATE(CONCAT(2020, '-', 9, '-', 1)) AS fecha;

fecha
2020-09-01

In [52]:
-- Usando STR_TO_DATE() para ensamblar una fecha
SELECT STR_TO_DATE(CONCAT(2020, '-', 9, '-', 1), '%Y-%m-%d') AS fecha;

fecha
2020-09-01

## Matemáticas de fecha

In [53]:
-- Usando operador matemático -
SELECT DATE('2020-06-30') - DATE('2020-05-31') AS days;

days
99

In [54]:
-- Usando la función datediff()
SELECT DATEDIFF(DATE('2020-06-30'), DATE('2020-05-31')) AS days;

days
30

In [55]:
-- Usando la función datediff() con 'month'
SELECT DATEDIFF('2020-06-30', '2020-01-01') AS months;

months
181

In [56]:
-- Usando interval '7 days'
SELECT DATE('2020-06-01') + INTERVAL '7' DAY AS new_date;

new_date
2020-06-08

In [57]:
-- O simplemente sumando un número
SELECT DATE('2020-06-01') + 7 AS new_date;

new_date
20200608

In [58]:
-- También puedes usar interval con meses, años, horas, etc.
SELECT DATE('2020-06-01') + INTERVAL '1' MONTH AS new_date;

new_date
2020-07-01

In [59]:
--Para agregar un mes a una fecha específica
SELECT DATE_ADD('2020-06-01', INTERVAL 1 MONTH) AS new_date;

new_date
2020-07-01

In [60]:
--Para restar un mes a una fecha específica:
SELECT DATE_SUB('2020-06-01', INTERVAL 1 MONTH) AS new_date;

new_date
2020-05-01

In [61]:
--Para agregar horas a un tiempo específico:
SELECT ADDTIME('05:00:00', '03:00:00') AS new_time;

new_time
08:00:00

In [62]:
--Para restar horas a un tiempo específico:
SELECT SUBTIME('05:00:00', '03:00:00') AS new_time;

new_time
02:00:00

In [63]:
--Para calcular la diferencia entre dos tiempos:
SELECT TIMEDIFF('05:00:00', '03:00:00') AS time_diff;

time_diff
2:00:00

In [64]:
--Para multiplicar un tiempo por un número:

SELECT MAKETIME(HOUR('05:00:00') * 2, MINUTE('05:00:00') * 2, SECOND('05:00:00') * 2) AS time_multiplied;

time_multiplied
10:00:00

## Tendencia de los datos ( Trending the Data)

In [69]:
SELECT * 
FROM retail_sales;

sales_month,kind_of_business,sales
2019-01-02,norte,666
2019-01-03,este,1505
2019-01-04,norte,2145
2019-01-07,norte,751
2019-01-08,sur,1657
2019-01-09,sur,1183
2019-01-10,oeste,1418
2019-01-11,sur,2311
2019-01-14,norte,614
2019-01-15,este,1862
2019-01-16,este,1794
2019-01-17,sur,1497
2019-01-18,norte,2478
2019-01-21,norte,1632
2019-01-22,sur,1723
2019-01-23,este,2247
2019-01-24,oeste,1536
2019-01-25,oeste,2157
2019-01-28,norte,1893
2019-01-29,este,2028
2019-01-30,este,1941
2019-01-31,sur,1234
2019-02-01,norte,1776
2019-02-04,sur,2385
2019-02-05,oeste,1629
2019-02-06,oeste,1946
2019-02-07,este,2054
2019-02-08,este,2186
2019-02-11,norte,1997
2019-02-12,sur,1735
2019-02-13,oeste,1540
2019-02-14,norte,1842
2019-02-15,este,2153
2019-02-18,oeste,1672
2019-02-19,este,1837
2019-02-20,sur,2220
2019-02-21,norte,2368
2019-02-22,sur,1567
2019-02-25,norte,1879
2019-02-26,este,1983
2019-02-27,este,2112
2019-02-28,oeste,1624
2019-03-01,norte,1745
2019-03-04,este,1912
2019-03-05,sur,1526
2019-03-06,oeste,2309
2019-03-07,norte,2387
2019-03-08,sur,1940
2019-03-11,este,2075
2019-03-12,sur,1658
2019-03-13,oeste,1432
2019-03-14,norte,1824
2019-03-15,este,2196
2019-03-18,norte,2310
2019-03-19,sur,1765
2019-03-20,oeste,1583
2019-03-21,norte,2147
2019-03-22,sur,1982
2019-03-25,este,2249
2019-03-26,oeste,1795
2019-03-27,sur,1650
2019-03-28,norte,1913
2019-03-29,este,2024
2019-04-01,oeste,1556
2019-04-02,norte,1867
2019-04-03,sur,1438
2019-04-04,este,2115
2019-04-05,oeste,1752
2019-04-08,norte,2234
2019-04-09,sur,1985
2019-04-10,este,1679
2019-04-11,oeste,1412
2019-04-12,norte,1890
2019-04-15,sur,2156
2019-04-16,este,2087
2019-04-17,oeste,1593
2019-04-18,norte,1724
2019-04-22,este,2251
2019-04-23,oeste,1940
2019-04-24,norte,1873
2019-04-25,sur,1729
2019-04-26,este,2113
2019-04-29,oeste,1567
2019-04-30,norte,1935
2019-05-01,sur,1754
2019-05-02,este,2228
2019-05-03,oeste,1865
2019-05-06,norte,2176
2019-05-07,sur,1689
2019-05-08,este,1550
2019-05-09,oeste,1992
2019-05-10,norte,1897
2019-05-13,sur,2123
2019-05-14,este,2345
2019-05-15,oeste,1724
2019-05-16,norte,1860
2019-05-17,sur,1985
2019-05-20,este,2134

In [71]:
--Tendencia de ventas totales por mes:
SELECT sales_month, SUM(sales) AS total_sales
FROM retail_sales
WHERE sales_month BETWEEN '2019-01-04' AND '2019-05-20'
GROUP BY sales_month;

sales_month,total_sales
2019-01-04,2145
2019-01-07,751
2019-01-08,1657
2019-01-09,1183
2019-01-10,1418
2019-01-11,2311
2019-01-14,614
2019-01-15,1862
2019-01-16,1794
2019-01-17,1497
2019-01-18,2478
2019-01-21,1632
2019-01-22,1723
2019-01-23,2247
2019-01-24,1536
2019-01-25,2157
2019-01-28,1893
2019-01-29,2028
2019-01-30,1941
2019-01-31,1234
2019-02-01,1776
2019-02-04,2385
2019-02-05,1629
2019-02-06,1946
2019-02-07,2054
2019-02-08,2186
2019-02-11,1997
2019-02-12,1735
2019-02-13,1540
2019-02-14,1842
2019-02-15,2153
2019-02-18,1672
2019-02-19,1837
2019-02-20,2220
2019-02-21,2368
2019-02-22,1567
2019-02-25,1879
2019-02-26,1983
2019-02-27,2112
2019-02-28,1624
2019-03-01,1745
2019-03-04,1912
2019-03-05,1526
2019-03-06,2309
2019-03-07,2387
2019-03-08,1940
2019-03-11,2075
2019-03-12,1658
2019-03-13,1432
2019-03-14,1824
2019-03-15,2196
2019-03-18,2310
2019-03-19,1765
2019-03-20,1583
2019-03-21,2147
2019-03-22,1982
2019-03-25,2249
2019-03-26,1795
2019-03-27,1650
2019-03-28,1913
2019-03-29,2024
2019-04-01,1556
2019-04-02,1867
2019-04-03,1438
2019-04-04,2115
2019-04-05,1752
2019-04-08,2234
2019-04-09,1985
2019-04-10,1679
2019-04-11,1412
2019-04-12,1890
2019-04-15,2156
2019-04-16,2087
2019-04-17,1593
2019-04-18,1724
2019-04-22,2251
2019-04-23,1940
2019-04-24,1873
2019-04-25,1729
2019-04-26,2113
2019-04-29,1567
2019-04-30,1935
2019-05-01,1754
2019-05-02,2228
2019-05-03,1865
2019-05-06,2176
2019-05-07,1689
2019-05-08,1550
2019-05-09,1992
2019-05-10,1897
2019-05-13,2123
2019-05-14,2345
2019-05-15,1724
2019-05-16,1860
2019-05-17,1985
2019-05-20,2134

In [72]:
--Tendencia de ventas totales por año:
SELECT YEAR(sales_month) AS sales_year, SUM(sales) AS total_sales
FROM retail_sales
WHERE sales_month BETWEEN '2019-01-04' AND '2019-05-20'
GROUP BY sales_year;

sales_year,total_sales
2019,179246

In [79]:
SELECT kind_of_business,
       SUM(CASE WHEN MONTH(sales_month) = 1 THEN sales ELSE 0 END) AS enero,
       SUM(CASE WHEN MONTH(sales_month) = 2 THEN sales ELSE 0 END) AS febrero
FROM retail_sales
WHERE MONTH(sales_month) IN (1, 2)
GROUP BY kind_of_business;

kind_of_business,enero,febrero
norte,10179,9862
este,11377,12325
sur,9605,7907
oeste,5111,8411

In [80]:
--Comparación de ventas por región:
SELECT kind_of_business, SUM(sales) AS total_sales
FROM retail_sales
GROUP BY kind_of_business;

kind_of_business,total_sales
norte,49823
este,52660
sur,42892
oeste,36042

In [81]:
-- Comparación de ventas por tipo de producto:
SELECT sales_month, kind_of_business, SUM(sales) AS total_sales
FROM retail_sales
GROUP BY sales_month, kind_of_business
ORDER BY sales_month, kind_of_business;

sales_month,kind_of_business,total_sales
2019-01-02,norte,666
2019-01-03,este,1505
2019-01-04,norte,2145
2019-01-07,norte,751
2019-01-08,sur,1657
2019-01-09,sur,1183
2019-01-10,oeste,1418
2019-01-11,sur,2311
2019-01-14,norte,614
2019-01-15,este,1862
2019-01-16,este,1794
2019-01-17,sur,1497
2019-01-18,norte,2478
2019-01-21,norte,1632
2019-01-22,sur,1723
2019-01-23,este,2247
2019-01-24,oeste,1536
2019-01-25,oeste,2157
2019-01-28,norte,1893
2019-01-29,este,2028
2019-01-30,este,1941
2019-01-31,sur,1234
2019-02-01,norte,1776
2019-02-04,sur,2385
2019-02-05,oeste,1629
2019-02-06,oeste,1946
2019-02-07,este,2054
2019-02-08,este,2186
2019-02-11,norte,1997
2019-02-12,sur,1735
2019-02-13,oeste,1540
2019-02-14,norte,1842
2019-02-15,este,2153
2019-02-18,oeste,1672
2019-02-19,este,1837
2019-02-20,sur,2220
2019-02-21,norte,2368
2019-02-22,sur,1567
2019-02-25,norte,1879
2019-02-26,este,1983
2019-02-27,este,2112
2019-02-28,oeste,1624
2019-03-01,norte,1745
2019-03-04,este,1912
2019-03-05,sur,1526
2019-03-06,oeste,2309
2019-03-07,norte,2387
2019-03-08,sur,1940
2019-03-11,este,2075
2019-03-12,sur,1658
2019-03-13,oeste,1432
2019-03-14,norte,1824
2019-03-15,este,2196
2019-03-18,norte,2310
2019-03-19,sur,1765
2019-03-20,oeste,1583
2019-03-21,norte,2147
2019-03-22,sur,1982
2019-03-25,este,2249
2019-03-26,oeste,1795
2019-03-27,sur,1650
2019-03-28,norte,1913
2019-03-29,este,2024
2019-04-01,oeste,1556
2019-04-02,norte,1867
2019-04-03,sur,1438
2019-04-04,este,2115
2019-04-05,oeste,1752
2019-04-08,norte,2234
2019-04-09,sur,1985
2019-04-10,este,1679
2019-04-11,oeste,1412
2019-04-12,norte,1890
2019-04-15,sur,2156
2019-04-16,este,2087
2019-04-17,oeste,1593
2019-04-18,norte,1724
2019-04-22,este,2251
2019-04-23,oeste,1940
2019-04-24,norte,1873
2019-04-25,sur,1729
2019-04-26,este,2113
2019-04-29,oeste,1567
2019-04-30,norte,1935
2019-05-01,sur,1754
2019-05-02,este,2228
2019-05-03,oeste,1865
2019-05-06,norte,2176
2019-05-07,sur,1689
2019-05-08,este,1550
2019-05-09,oeste,1992
2019-05-10,norte,1897
2019-05-13,sur,2123
2019-05-14,este,2345
2019-05-15,oeste,1724
2019-05-16,norte,1860
2019-05-17,sur,1985
2019-05-20,este,2134

In [82]:
--Comparación de ventas por temporada:
SELECT EXTRACT(MONTH FROM sales_month) AS month, SUM(sales) AS total_sales
FROM retail_sales
GROUP BY EXTRACT(MONTH FROM sales_month)
ORDER BY EXTRACT(MONTH FROM sales_month);

month,total_sales
1,36272
2,38505
3,40422
4,38896
5,27322

In [84]:
--Comparación de ventas por día de la semana
SELECT DAYNAME(sales_month) AS day_of_week, SUM(sales) AS total_sales
FROM retail_sales
GROUP BY DAYNAME(sales_month)
ORDER BY FIELD(day_of_week, 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday');

day_of_week,total_sales
Monday,37566
Tuesday,35046
Wednesday,34234
Thursday,36409
Friday,38162

## 

- Porcentaje del total de cálculos

In [85]:
SELECT 
    sales_month,
    kind_of_business,
    sales,
    sales / (SELECT SUM(sales) FROM retail_sales) * 100 AS percentage_of_total
FROM 
    retail_sales;

sales_month,kind_of_business,sales,percentage_of_total
2019-01-02,norte,666,0.3671
2019-01-03,este,1505,0.8296
2019-01-04,norte,2145,1.1824
2019-01-07,norte,751,0.4140
2019-01-08,sur,1657,0.9134
2019-01-09,sur,1183,0.6521
2019-01-10,oeste,1418,0.7816
2019-01-11,sur,2311,1.2739
2019-01-14,norte,614,0.3384
2019-01-15,este,1862,1.0264
2019-01-16,este,1794,0.9889
2019-01-17,sur,1497,0.8252
2019-01-18,norte,2478,1.3659
2019-01-21,norte,1632,0.8996
2019-01-22,sur,1723,0.9497
2019-01-23,este,2247,1.2386
2019-01-24,oeste,1536,0.8467
2019-01-25,oeste,2157,1.1890
2019-01-28,norte,1893,1.0435
2019-01-29,este,2028,1.1179
2019-01-30,este,1941,1.0699
2019-01-31,sur,1234,0.6802
2019-02-01,norte,1776,0.9790
2019-02-04,sur,2385,1.3147
2019-02-05,oeste,1629,0.8979
2019-02-06,oeste,1946,1.0727
2019-02-07,este,2054,1.1322
2019-02-08,este,2186,1.2050
2019-02-11,norte,1997,1.1008
2019-02-12,sur,1735,0.9564
2019-02-13,oeste,1540,0.8489
2019-02-14,norte,1842,1.0153
2019-02-15,este,2153,1.1868
2019-02-18,oeste,1672,0.9216
2019-02-19,este,1837,1.0126
2019-02-20,sur,2220,1.2237
2019-02-21,norte,2368,1.3053
2019-02-22,sur,1567,0.8638
2019-02-25,norte,1879,1.0357
2019-02-26,este,1983,1.0931
2019-02-27,este,2112,1.1642
2019-02-28,oeste,1624,0.8952
2019-03-01,norte,1745,0.9619
2019-03-04,este,1912,1.0539
2019-03-05,sur,1526,0.8412
2019-03-06,oeste,2309,1.2728
2019-03-07,norte,2387,1.3158
2019-03-08,sur,1940,1.0694
2019-03-11,este,2075,1.1438
2019-03-12,sur,1658,0.9139
2019-03-13,oeste,1432,0.7893
2019-03-14,norte,1824,1.0054
2019-03-15,este,2196,1.2105
2019-03-18,norte,2310,1.2733
2019-03-19,sur,1765,0.9729
2019-03-20,oeste,1583,0.8726
2019-03-21,norte,2147,1.1835
2019-03-22,sur,1982,1.0925
2019-03-25,este,2249,1.2397
2019-03-26,oeste,1795,0.9894
2019-03-27,sur,1650,0.9095
2019-03-28,norte,1913,1.0545
2019-03-29,este,2024,1.1157
2019-04-01,oeste,1556,0.8577
2019-04-02,norte,1867,1.0291
2019-04-03,sur,1438,0.7926
2019-04-04,este,2115,1.1658
2019-04-05,oeste,1752,0.9657
2019-04-08,norte,2234,1.2314
2019-04-09,sur,1985,1.0942
2019-04-10,este,1679,0.9255
2019-04-11,oeste,1412,0.7783
2019-04-12,norte,1890,1.0418
2019-04-15,sur,2156,1.1884
2019-04-16,este,2087,1.1504
2019-04-17,oeste,1593,0.8781
2019-04-18,norte,1724,0.9503
2019-04-22,este,2251,1.2408
2019-04-23,oeste,1940,1.0694
2019-04-24,norte,1873,1.0324
2019-04-25,sur,1729,0.9531
2019-04-26,este,2113,1.1647
2019-04-29,oeste,1567,0.8638
2019-04-30,norte,1935,1.0666
2019-05-01,sur,1754,0.9668
2019-05-02,este,2228,1.2281
2019-05-03,oeste,1865,1.0280
2019-05-06,norte,2176,1.1994
2019-05-07,sur,1689,0.9310
2019-05-08,este,1550,0.8544
2019-05-09,oeste,1992,1.0980
2019-05-10,norte,1897,1.0457
2019-05-13,sur,2123,1.1702
2019-05-14,este,2345,1.2926
2019-05-15,oeste,1724,0.9503
2019-05-16,norte,1860,1.0253
2019-05-17,sur,1985,1.0942
2019-05-20,este,2134,1.1763

In [87]:
--Ventas totales por tipo de negocio:
SELECT 
    kind_of_business,
    SUM(sales) AS total_sales,
    (SUM(sales) / (SELECT SUM(sales) FROM retail_sales)) * 100 AS percentage_of_total
FROM 
    retail_sales
GROUP BY 
    kind_of_business;

kind_of_business,total_sales,percentage_of_total
norte,49823,27.4632
este,52660,29.0270
sur,42892,23.6428
oeste,36042,19.8669

In [91]:
--Porcentaje de las ventas totales mensual:
SELECT 
    DATE_FORMAT(sales_month, '%Y-%m') AS sales_month,
    SUM(sales) AS total_monthly_sales,
    (SUM(sales) / (SELECT SUM(sales) FROM retail_sales)) * 100 AS percentage_of_total
FROM 
    retail_sales
GROUP BY 
    DATE_FORMAT(sales_month, '%Y-%m');

sales_month,total_monthly_sales,percentage_of_total
2019-01,36272,19.9937
2019-02,38505,21.2246
2019-03,40422,22.2813
2019-04,38896,21.4401
2019-05,27322,15.0603