# Practica 8 - Modificación de tablas y registros

### Trabajar con el esquema **base.sql**

## 1. Inserta 2 productos nuevos en la tabla producto, puedes llamarlos producto1 y producto2.

In [16]:
USE base7;

DELETE FROM producto WHERE ID_Producto IS NULL;
DELETE FROM producto ORDER BY ID_Producto DESC LIMIT 2;

In [18]:
INSERT INTO producto (ID_Producto, Producto)
VALUES (6, 'Consultorio'), (7, 'Remates'), (8, 'Producto1'), (9, 'Producto2');

In [19]:
SELECT * 
FROM producto;

ID_Producto,Producto
1,Terreno
2,Oficina
3,Local
4,Nave
5,Isla
6,Consultorio
7,Remates
8,Producto1
9,Producto2

## 2. Ahora vamos a actualizar los nombres de los productos anteriores:  
2.1 Producto1 será 'Casa'

In [20]:
UPDATE producto
SET Producto = 'Casa'
WHERE ID_Producto = 8;

2.2 Producto2 será 'Departamento'

In [21]:
UPDATE producto
SET Producto = 'Departamento'
WHERE ID_Producto = 9;

SELECT * 
FROM producto;

ID_Producto,Producto
1,Terreno
2,Oficina
3,Local
4,Nave
5,Isla
6,Consultorio
7,Remates
8,Casa
9,Departamento

## 3. Eliminar casa y departamento de la tabla 'producto'

In [22]:
DELETE FROM producto WHERE Producto IN ('Departamento', 'Casa');

SELECT * 
FROM producto;

ID_Producto,Producto
1,Terreno
2,Oficina
3,Local
4,Nave
5,Isla
6,Consultorio
7,Remates